@{
	Layout = "_FrontLayout_common";
}

<div class="title-bg mb-3">
	<img class="w-100"
		 src="~/FrontstageTemplate/assets/brand/layout/banners/banner_01.png"
		 alt="" />
</div>

<div class="album py-5 container-outer-n">
    <div class="container">
        <!-- //------------------------------------------- -->

        <div class="row g-lg-5">



            <div class="col-lg-12">
                <div class="card-content-dec d-flex w-100 px-3 px-lg-4 ">
                    <div class="w-100 "><p class="mb-2">訂單商品</p></div>
                    <div class="w-100 title d-flex justify-content-between">
                        <p class="ms-lg-5 d-none d-lg-block mb-2">單價</p>
                        <p class="ms-lg-2 d-none d-lg-block mb-2">數量</p>
                        <p class="me-lg-5 d-none d-lg-block mb-2">總價</p>
                    </div>


                </div>
                <div class="row">
                    <div class="col col-sm-12">
                        <div class="card shadow-sm cart-card">
                            <div class="cart-card-owner">
                                <div class="ck-farm d-flex align-items-center">
                                    <div class="img-outer">
                                        <img src="~/FrontstageTemplate/assets/brand/layout/mug.png" alt="" />
                                    </div>
                                    <p class="ck-farm-name p-0 m-0">葛瑞絲牧場</p>
                                </div>
                            </div>
                            <hr />
                            <div class="cart-card-item w-100">
                                <div class="card-body-img d-flex w-100 px-3">
                                    <div class="d-flex flex-column">

                                        <div class="img_box">
                                            <img src="~/FrontstageTemplate/assets/brand/page/cart/profuct_1.png" />
                                        </div>
                                    </div>


                                    <div class="card-body flex-row align-items-center">
                                        <div class="w-100 d-flex flex-column flex-lg-row justify-content-between align-items-start">
                                            <div class="w-50 d-flex flex-column justify-content-between align-items-start">
                                                <h5>日成放牧蛋</h5>
                                                <small class="describe">雞蛋</small>
                                            </div>
                                            <div class="w-100 bottom_item flex-md-row align-items-md-center me-3">
                                                <div class="w-100 d-flex flex-column flex-column justify-content-between align-items-start align-items-lg-end ">
                                                    <big class="price">NT$ 1,200</big>
                                                </div>
                                                <div class=" w-100 d-flex flex-column justify-content-center align-items-end ">
                                                    <big class="price">X 1</big>
                                                </div>
                                                <div class="w-100  flex-column justify-content-center align-items-end align-items-lg-end d-none d-lg-flex">
                                                    <big class="card-total price">NT$ 1,200</big>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                            <hr class="hr-dotted" />
                            <div class="other-info d-flex flex-column flex-lg-row mx-3 mx-lg-2 my-3 mb-5">
                                <div class=" w-100 mx-auto mx-lg-4">
                                    <div class="part  form-control-n">
                                        <div class=" w-100 d-flex justify-content-between">
                                            <div class="title ">
                                                <div class="title-line"></div>寄送資訊
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center me-3">
                                                <div class="track-info">
                                                    60元
                                      
                                                    <a class="btn light-btn-n btn-sm-dbrs"
                                                       data-bs-toggle="modal"
                                                       href="#exampleModalToggle2"
                                                       role="button">修改</a>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="carrier-type ">
                                            <p class="d-flex align-items-center mb-2">7-ELEVEN<span>超商</span></p>
                                        </div>
                                        <div class="carrier-address d-flex flex-column flex-xl-row">
                                            <div class="d-flex mt-1 mt-md-0">
                                                <p class="name me-2 m-0">張家豪</p>
                                                <p class="phone me-2 m-0">0960101028</p>
                                            </div>
                                            <p class="address me-2 m-0"><span class="me-1">忠孝東門市 | </span>台北市中正區忠孝東路一段72號76號1樓台北市中正區忠孝</p>
                                        </div>
                                    </div>


                                </div>

                                <div class=" w-100 d-flex flex-column mx-auto mx-lg-4 mt-3 mt-lg-0">
                                    <div class="part form-control-n">
                                        <div class="title mb-3">
                                            <div class="title-line"></div>電子發票
                                        </div>

                                        <select class="select-n " name="state">
                                            <option value="AL">二聯式發票(個人)</option>

                                            <option value="WY">其他</option>
                                        </select>
                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>
                    <div class="col col-sm-12 mt-5">
                        <div class="card shadow-sm cart-card">
                            <div class="cart-card-owner">
                                <div class="ck-farm d-flex align-items-center">
                                    <div class="img-outer">
                                        <img src="~/FrontstageTemplate/assets/brand/layout/mug.png" alt="" />
                                    </div>
                                    <p class="ck-farm-name p-0 m-0">葛瑞絲牧場</p>
                                </div>
                            </div>
                            <hr />
                            <div class="cart-card-item w-100">
                                <div class="card-body-img d-flex w-100 px-3">
                                    <div class="d-flex flex-column">
                                        <!-- <p class="card-content-dec">訂單商品</p> -->
                                        <div class="img_box">
                                            <img src="~/FrontstageTemplate/assets/brand/page/cart/profuct_1.png" />
                                        </div>
                                    </div>


                                    <div class="card-body flex-row align-items-center">
                                        <div class="w-100 d-flex flex-column flex-lg-row justify-content-between align-items-start">
                                            <div class="w-50 d-flex flex-column justify-content-between align-items-start">
                                                <h5>日成放牧蛋</h5>
                                                <small class="describe">雞蛋</small>
                                            </div>
                                            <div class="w-100 bottom_item flex-md-row align-items-md-center me-3">
                                                <div class="w-100 d-flex flex-column flex-column justify-content-between align-items-start align-items-lg-end ">
                                                    <big class="price">NT$ 1,200</big>
                                                </div>
                                                <div class=" w-100 d-flex flex-column justify-content-center align-items-end ">
                                                    <big class="price">X 1</big>
                                                </div>
                                                <div class="w-100  flex-column justify-content-center align-items-end align-items-lg-end d-none d-lg-flex">
                                                    <big class="card-total price">NT$ 1,200</big>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                            <hr class="hr-dotted" />
                            <div class="other-info d-flex flex-column flex-lg-row mx-3 mx-lg-2  my-3 mb-5">
                                <div class=" w-100 mx-auto mx-lg-4">
                                    <div class="part  form-control-n">
                                        <div class=" w-100 d-flex justify-content-between">
                                            <div class="title ">
                                                <div class="title-line"></div>寄送資訊
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center me-3">
                                                <div class="track-info">
                                                    60元
                                                  @*   <button class="btn light-btn-n" type="button">
                                                        <p class="p-0 m-0 ">修改</p>
                                                    </button> *@
                                                    <a class="btn light-btn-n btn-sm-dbrs"
                                                       data-bs-toggle="modal"
                                                       href="#exampleModalToggle2"
                                                       role="button">修改</a>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="carrier-type ">
                                            <p class="d-flex align-items-center mb-2">7-ELEVEN<span>超商</span></p>
                                        </div>
                                        <div class="carrier-address d-flex flex-column flex-xl-row">
                                            <div class="d-flex mt-1 mt-md-0">
                                                <p class="name me-2 m-0">張家豪</p>
                                                <p class="phone me-2 m-0">0960101028</p>
                                            </div>
                                            <p class="address me-2 m-0"><span class="me-1">忠孝東門市 | </span>台北市中正區忠孝東路一段72號76號1樓台北市中正區忠孝東路一段72號76號1樓</p>
                                        </div>
                                    </div>


                                </div>

                                <div class=" w-100 d-flex flex-column mx-auto mx-lg-4 mt-3 mt-lg-0">
                                    <div class="part  form-control-n">
                                        <div class="title mb-3">
                                            <div class="title-line"></div>電子發票
                                        </div>
                                        <!-- <select class="select-n js-example-basic-single" name="state">
                                            <option value="AL">Alabama</option>
                                            <option value="AL">Alabama</option>
                                        </select> -->
                                        <select class="select-n " name="state">
                                            <option value="AL">二聯式發票(個人)</option>

                                            <option value="WY">其他</option>
                                        </select>
                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>


                </div>

            </div>




            <div class="col-lg-12 my-4 my-lg-0">
                <hr class="mb-3 mb-lg-5" />
                <h4 class="d-flex justify-content-between align-items-center mb-4">
                    <span class="cal-box-title">結帳方式</span>
                    <!-- <span class="badge text-muted">已勾選4件商品</span> -->
                </h4>
                <div class="d-flex flex-column flex-sm-row">
                    <button type="submit" class="btn payway-btn dark-btn-n me-4 my-2 my-sm-0">
                        <h5 class="mb-0">信用卡<br /><span class="mx-2">(VISA、Mastercard、JCB)</span></h5>
                    </button>
                    <button type="submit" class="btn payway-btn light-btn-n my-2 my-sm-0">
                        <h5>貨到付款</h5>

                    </button>
                </div>

            </div>


            <div class="col-lg-12">
                <h4 class="cart-list mb-3">總計明細</h4>
            </div>
            <div class="col-lg-6 mt-0 mt-lg-4 ">
                <div class="card no-border-n bg-gray me-lg-5">
                    <div class="card-body ">
                        <div class=" w-100 d-flex flex-column mx-auto px-lg-3
									 mt-3 mt-lg-0 py-4 ">
                            <div class="form-control-n">
                                <div class="title mb-3 d-flex justify-content-between">
                                    商城代幣折抵<div class="allcoin">當前擁有代幣<span>49</span></div>
                                </div>

                                <input class="form-control form-control-sm" type="text" placeholder="0" aria-label="">
                            </div>

                            <div class="form-control-n mt-4">
                                <div class="title mb-3 d-flex justify-content-between">
                                    優惠券
                                </div>

                                <select class="select-n " name="state">
                                    <option value="AL">無需使用優惠券</option>

                                    <option value="WY">慶日券</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 mt-4">
                <div class="card cal-box no-border-n  p-0">
                    <div class="card-body py-0 px-0 px-lg-5">
                        <div>
                            <div class="o_price_total cal-box-list">
                                <p class="my-0">商品小計</p>
                                <span class="">$3,600</span>
                            </div>
                            <hr>
                            <div class="o_price_total cal-box-list mb-3 ">
                                <p class="my-0">商品折扣</p>
                                <span class="">- $1,200</span>
                            </div>
                            <div class="o_price_total cal-box-list mb-3 ps-0">
                                <p class="my-0">【訂單運費】合計</p>
                                <span class=""> $120</span>
                            </div>
                            <hr>
                            <div class="discount_total cal-box-list mb-3">
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="my-0 me-3">組合優惠</p>
                                </div>

                                <span class="">無</span>
                            </div>
                            <div class="discount_total cal-box-list mb-3">
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="my-0 me-3">商城代幣折抵</p>
                                </div>

                                <span class="">- $ 0</span>
                            </div>
                            <div class="discount_total cal-box-list mb-3">
                                <div class="d-flex justify-content-start align-items-center">
                                    <p class="my-0 me-3">優惠券折扣</p>
                                </div>

                                <span class="">- $ 0</span>
                            </div>
                            <hr>
                            <div class="price_total cal-box-list">
                                <h4 class="my-0">總計</h4>
                                <span class="">NT$2,400</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-12 d-flex justify-content-center">
                <button type="submit" class="btn buy-btn dark-btn-n  my-2 my-sm-0">
                    <h5 class="mb-0">確認下單</h5>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-n fade"
     id="exampleModalToggle2"
     aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header px-4 mx-4 pb-0 mt-2">
                <h5 class="modal-title mb-2" id="exampleModalToggleLabel">
                    修改物流
                    <span class="ms-3"> </span>
                </h5>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body mx-2">
                <div class="col-lg-12">
                    <div class="store-body-outer">
                        <div class="pagebody-store m-0">
                            <div class="accordion" id="accordionExample1">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button collapsed"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne1"
                                                aria-expanded="false"
                                                aria-controls="collapseOne1">
                                            宅配<img src="~/FrontstageTemplate/assets/brand/common/blackcat_logo.svg"
                                                   alt="" />
                                        </button>
                                    </h2>
                                    <div id="collapseOne1"
                                         class="accordion-collapse collapse"
                                         aria-labelledby="headingOne"
                                         data-bs-parent="#accordionExample1">
                                        <div class="accordion-body">
                                            <div class="scroll">
                                                <div class="form-check d-flex">
                                                    <input class="form-check-input"
                                                           type="radio"
                                                           name="flexRadioDefault"
                                                           id="flexRadioDefault1" />
                                                    <label class="form-check-label w-100"
                                                           for="flexRadioDefault1">
                                                        <div class="other-info d-flex flex-column flex-lg-row">
                                                            <div class="w-100 mx-auto">
                                                                <div class="part form-control-n">
                                                                    <div class="carrier-type w-100 d-flex justify-content-between pb-1">
                                                                        <p class="d-flex align-items-center mb-0">
                                                                            黑貓宅急便<span>常溫</span>
                                                                        </p>
                                                                        <div class="d-flex justify-content-center align-items-center">
                                                                            <div class="track-info">60元</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="carrier-address d-flex flex-column">
                                                                        <div class="d-flex mt-1 mt-md-0">
                                                                            <p class="name me-2 m-0">張家豪</p>
                                                                            <p class="phone me-2 m-0">
                                                                                0960101028
                                                                            </p>
                                                                        </div>
                                                                        <p class="address me-2 m-0">
                                                                            <span class=""></span>台北市中正區忠孝東路一段72號76號1樓台北市中正區忠孝
                                                                        </p>
                                                                    </div>
                                                                    <!-- <p class="default me-2 m-0 mt-2">預設</p> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </label>
                                                </div>

                                                <hr class="m-0" />
                                                <div class="form-check d-flex">
                                                    <input class="form-check-input"
                                                           type="radio"
                                                           name="flexRadioDefault"
                                                           id="flexRadioDefault1" />
                                                    <label class="form-check-label w-100"
                                                           for="flexRadioDefault1">
                                                        <div class="other-info d-flex flex-column flex-lg-row">
                                                            <div class="w-100 mx-auto">
                                                                <div class="part form-control-n">
                                                                    <div class="carrier-type w-100 d-flex justify-content-between pb-1">
                                                                        <p class="d-flex align-items-center mb-0">
                                                                            黑貓宅急便<span>冷藏</span>
                                                                        </p>
                                                                        <div class="d-flex justify-content-center align-items-center">
                                                                            <div class="track-info">60元</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="carrier-address d-flex flex-column">
                                                                        <div class="d-flex mt-1 mt-md-0">
                                                                            <p class="name me-2 m-0">張家豪</p>
                                                                            <p class="phone me-2 m-0">
                                                                                0960101028
                                                                            </p>
                                                                        </div>
                                                                        <p class="address me-2 m-0">
                                                                            <span class=""></span>台北市中正區忠孝東路一段72號76號1樓台北市中正區忠孝
                                                                        </p>
                                                                    </div>
                                                                    <p class="default me-2 m-0 d-none mt-2">
                                                                        預設
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </label>
                                                </div>
                                                @* <hr class="m-0" /> *@
                                            </div>

                                            <div class="form-control-n pt-2 p-3">
                                                <a class="btn light-btn-n btn-sm-dbrs"
                                                   data-bs-toggle="modal"
                                                   href="#exampleModalToggle4"
                                                   role="button">新增地址</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item my-4">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseTwo1"
                                                aria-expanded="false"
                                                aria-controls="collapseTwo1">
                                            超商
                                            <img src="~/FrontstageTemplate/assets/brand/common/seven-logo.png"
                                                 alt="" />
                                        </button>
                                    </h2>
                                    <div id="collapseTwo1"
                                         class="accordion-collapse collapse"
                                         aria-labelledby="headingTwo"
                                         data-bs-parent="#accordionExample1">
                                        <div class="accordion-body">
                                            <div class="scroll">
                                                <div class="form-check d-flex">
                                                    <input class="form-check-input"
                                                           type="radio"
                                                           name="flexRadioDefault"
                                                           id="flexRadioDefault1" />
                                                    <label class="form-check-label w-100"
                                                           for="flexRadioDefault1">
                                                        <div class="other-info d-flex flex-column flex-lg-row">
                                                            <div class="w-100 mx-auto">
                                                                <div class="part form-control-n">
                                                                    <div class="carrier-type w-100 d-flex justify-content-between pb-1">
                                                                        <p class="d-flex align-items-center mb-0">
                                                                            7-ELEVEN<span>常溫</span>
                                                                        </p>
                                                                        <div class="d-flex justify-content-center align-items-center">
                                                                            <div class="track-info">60元</div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="carrier-address d-flex flex-column">
                                                                        <div class="d-flex mt-1 mt-md-0">
                                                                            <p class="name me-2 m-0">張家豪</p>
                                                                            <p class="phone me-2 m-0">
                                                                                0960101028
                                                                            </p>
                                                                        </div>
                                                                        <p class="address me-2 m-0">
                                                                            <span class="me-1">忠孝東門市 | </span>台北市中正區忠孝東路一段72號76號1樓
                                                                        </p>
                                                                    </div>
                                                                    <!-- <p class="default me-2 m-0 mt-2">預設</p> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </label>
                                                </div>
                                         @*        <hr class="m-0" /> *@
                                            </div>

                                            <div class="form-control-n pt-2 p-3">
                                                <a class="btn light-btn-n btn-sm-dbrs"
                                                   data-bs-toggle="modal"
                                                   href="#exampleModalToggle3"
                                                   role="button">新增地址</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 submit mt-4 mb-3">
                                <button class="btn dark-btn-n" type="button">
                                    確定送出
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-n fade"
     id="exampleModalToggle3"
     aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header px-4 mx-4 pb-0 mt-2">
                <h5 class="modal-title mb-2" id="exampleModalToggleLabel">
                    新增宅配
                    <span class="ms-3"> </span>
                </h5>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body mx-2">
                <div class="col-lg-12">
                    <div class="form-control-n">
                        <div class="title mb-2 d-flex justify-content-between">
                            <div class="allcoin">收貨人姓名<span></span></div>
                        </div>
                        <input class="form-control form-control-sm"
                               type="text"
                               placeholder=""
                               aria-label="" />
                    </div>
                    <div class="form-control-n mt-3">
                        <div class="title mb-2 d-flex justify-content-between">
                            <div class="allcoin">聯繫方式<span></span></div>
                        </div>
                        <input class="form-control form-control-sm"
                               type="text"
                               placeholder=""
                               aria-label="" />
                    </div>

                    <div class="form-control-n mt-3">
                        <div class="title mb-2 d-flex justify-content-between">
                            <div class="allcoin">取貨地址<span></span></div>
                        </div>
                        <input class="form-control form-control-sm"
                               type="text"
                               placeholder=""
                               aria-label="" />
                    </div>

                    <div class="cart-card bg-none mt-4">
                        <div class="cart-card-item p-0">
                            <input type="checkbox"
                                   class="hidden-box"
                                   id="s1_p202409010003"
                                   checked="" />
                            <label for="s1_p202409010003"
                                   class="check--label w-100">
                                <span class="check--label-box ms-0 me-2"></span>
                                <div>
                                    <span class="checktext">
                                        採用低溫配送服務
                                        <img src="~/FrontstageTemplate/assets/brand/common/octicon_info-16.svg"
                                             alt=""
                                             srcset="" />
                                    </span>
                                    <span class="checktext text-gray">僅宅配提供</span>
                                </div>
                                <p class="m-0 ms-auto checktext-money">$160</p>
                            </label>
                        </div>
                    </div>

                    <div class="w-100 submit mt-4 mb-3">
                        <button class="btn dark-btn-n" type="button">
                            確定送出
                        </button>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-n fade"
     id="exampleModalToggle4"
     aria-hidden="true"
     aria-labelledby="exampleModalToggleLabel"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header px-4 mx-4 pb-0 mt-2">
                <h5 class="modal-title mb-2" id="exampleModalToggleLabel">
                    新增超商
                    <span class="ms-3"> </span>
                </h5>

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body mx-2">
                <div class="col-lg-12">
                    <div class="store-body-outer">
                        <div class="pagebody-store m-0">
                            <div class="form-control-n">
                                <div class="title mb-2 d-flex justify-content-between">
                                    <div class="allcoin">收貨人姓名<span></span></div>
                                </div>
                                <input class="form-control form-control-sm"
                                       type="text"
                                       placeholder=""
                                       aria-label="" />
                            </div>
                            <div class="form-control-n mt-3">
                                <div class="title mb-2 d-flex justify-content-between">
                                    <div class="allcoin">聯繫方式<span></span></div>
                                </div>
                                <input class="form-control form-control-sm"
                                       type="text"
                                       placeholder=""
                                       aria-label="" />
                            </div>

                            <div class="form-control-n mt-3">
                                <div class="title mb-2 d-flex justify-content-between">
                                    <div class="allcoin">門市選擇<span></span></div>
                                </div>
                                <button class="btn light-btn-n" type="button">
                                    新增 / 調整地址
                                </button>
                            </div>
                            <div class="accordion-item mt-4">
                                <div class="accordion-body">
                                    <div class="other-info d-flex flex-column flex-lg-row py-3">
                                        <div class="w-100 mx-auto">
                                            <div class="part form-control-n">
                                                <div class="carrier-type w-100 d-flex justify-content-between pb-2">
                                                    <p class="d-flex align-items-center mb-0">
                                                        7-ELEVEN<span>超商</span>
                                                    </p>
                                                </div>
                                                <div class="carrier-address d-flex flex-column flex-xl-row">
                                                    <p class="address me-2 m-0">
                                                        <span class="me-1">忠孝東門市 | </span>
                                                        <span class="me-1 mb-2">225436</span><br />
                                                        台北市中正區忠孝東路一段72號76號1樓
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="cart-card bg-none mt-4">
                                <div class="cart-card-item p-0">
                                    <label class="check--label w-100">
                                        <span class="checktext">
                                            常溫配送價格
                                            <img src="~/FrontstageTemplate/assets/brand/common/octicon_info-16.svg"
                                                 alt=""
                                                 srcset="" />
                                        </span>
                                        <p class="m-0 ms-auto checktext-money">$60</p>
                                    </label>
                                </div>
                            </div>

                            <div class="w-100 submit mt-4 mb-3">
                                <button class="btn dark-btn-n" type="button">
                                    確定送出
                                </button>
                            </div>
                        </div>
                    </div>
                        
                   
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const elements = document.querySelectorAll('.select-n');
            elements.forEach(function (element) {
                new Choices(element, {
                    searchEnabled: false,
                    itemSelectText: ''
                });
            });
        });

    </script>
}
