@{
	Layout = "_FrontLayout_store";
}
<div class=" col-12">
	<div class="page-title">
		<h5 class="mb-3">訂單管理</h5>
	</div>
	<div class="tab-see mb-3">
		<ul class="nav nav-pills mb-1  tab-controll-n" id="pills-tab" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="pills-one-tab" data-bs-toggle="pill" data-bs-target="#pills-one" type="button" role="tab" aria-controls="pills-one" aria-selected="true">訂單成立</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="pills-two-tab" data-bs-toggle="pill" data-bs-target="#pills-two" type="button" role="tab" aria-controls="pills-two" aria-selected="false">訂單待出貨</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="pills-three-tab" data-bs-toggle="pill" data-bs-target="#pills-three" type="button" role="tab" aria-controls="pills-three" aria-selected="false">訂單代收貨</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="pills-four-tab" data-bs-toggle="pill" data-bs-target="#pills-four" type="button" role="tab" aria-controls="pills-four" aria-selected="false">訂單完成</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="pills-five-tab" data-bs-toggle="pill" data-bs-target="#pills-five" type="button" role="tab" aria-controls="pills-five" aria-selected="false">訂單退貨</button>
			</li>
		</ul>
	</div>
	<div class="tab-content" id="pills-tabContent">
		<div class="tab-pane fade show active" id="pills-one" role="tabpanel" aria-labelledby="pills-one-tab">
			<div class="notify-title">
				<img src="~/FrontstageTemplate/assets/brand/common/loudspeaker.svg" alt="" style="width: 24px;">
				<span style="font-size: 14px;">流程提醒 : 按下出貨按紐後，請於7天內完成出貨，以免影響賣場評分!!</span>
			</div>
		</div>
		<div class="tab-pane fade" id="pills-two" role="tabpanel" aria-labelledby="pills-two-tab">..2.</div>
		<div class="tab-pane fade" id="pills-three" role="tabpanel" aria-labelledby="pills-three-tab">.3..</div>
		<div class="tab-pane fade" id="pills-four" role="tabpanel" aria-labelledby="pills-four-tab">..4.</div>
		<div class="tab-pane fade" id="pills-five" role="tabpanel" aria-labelledby="pills-five-tab">.5..</div>
	</div>
</div>