@model EggProductionProject_MVC.Models.Member
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <meta name="author"
              content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
        <meta name="generator" content="Hugo 0.88.1" />
        <title>Album example · Bootstrap v5.1</title>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
              integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">




        <link rel="canonical"
              href="https://getbootstrap.com/docs/5.1/examples/album/" />

        <!-- Bootstrap core CSS -->
        <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
      @*  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet"> *@

        <link rel="stylesheet" href="/assets/dist/css/style.css" />






        @section Styles {
            <style>


                body {
                    font-family: Arial, sans-serif;
                    background-color: #ffffff; /* 改為白色 */
                    color: #a57c42;
                    margin: 0;
                    padding: 0;
                }

                .container {
                    width: 80%;
                    margin: 0 auto;

                }

                .header {
                    text-align: center;
                    padding: 20px 0;
                }

                .h1 {
                    font-size: 50px;
                    font-weight: 800;
                    margin: 0;
                    border-radius: 30px;
                    border: 2px solid #855206;
                }

         

                .nav-tabs {
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                    border-bottom: 2px solid #d5b584;
                }

                    .nav-tabs button {
                        background-color: #f7d9b4;
                        border: none;
                        padding: 10px 30px;
                        margin: 0;
                        cursor: pointer;
                        color: #a57c42;
                        font-size: 16px;
                        border-radius: 20px 20px 0 0;
                    }

                        .nav-tabs button.active {
                            background-color: #a57c42;
                            color: #fff;
                        }

                .form-container {
                    margin-top: 40px;
                }

                    .form-container h2 {
                        border-bottom: 2px solid #cba770;
                        padding-bottom: 10px;
                        font-size: 18px;
                    }

                .form-group {
                    margin: 20px 0;
                    display: flex;
                    align-items: center;
                }

                    .form-group label {
                        flex: 0 0 100px;
                        font-size: 16px;
                    }

                    .form-group input {
                        flex: 1;
                        padding: 10px;
                        font-size: 16px;
                        border: 2px solid #d5b584;
                        border-radius: 5px;
                    }

                    .form-group .required {
                        color: #d33;
                        margin-left: 10px;
                    }

                .profile-pic {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 20px;
                }

                    .profile-pic img {
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        border: 2px solid #d5b584;
                    }

                    .profile-pic button {
                        background-color: #f7d9b4;
                        border: 2px solid #d5b584;
                        padding: 5px 10px;
                        cursor: pointer;
                        color: #a57c42;
                        font-size: 14px;
                        margin-top: 10px;
                        border-radius: 20px;
                    }

                .buttons {
                    display: flex;
                    justify-content: center;
                    margin-top: 40px;
                }

                    .buttons button {
                        background-color: #a57c42;
                        border: none;
                        padding: 10px 20px;
                        margin: 0 10px;
                        cursor: pointer;
                        color: #fff;
                        font-size: 16px;
                        border-radius: 5px;
                    }

                        .buttons button.cancel {
                            background-color: #f7d9b4;
                            color: #a57c42;
                        }

                .required-tag {
                    display: inline-block;
                    padding: 4px 10px;
                    border: 2px solid #c89a49; /* 邊框顏色 */
                    background-color: #d7ad54; /* 背景顏色 */
                    color: white; /* 字體顏色 */
                    border-radius: 20px; /* 圓角 */
                    font-weight: bold;
                    font-size: 14px;
                    font-family: Arial, sans-serif;
                    border-right: 20px;
                }


                .step-container {
                    display: flex;
                    justify-content: space-between;
                    border: 1px solid #d9b78a;
                    border-radius: 25px;
                    overflow: hidden;
                }

                .step {
                    flex: 1;
                    padding: 10px;
                    text-align: center;
                    font-size: 16px;
                    color: #b7b7b7;
                }

                    .step.active {
                        background-color: #b7852c;
                        color: white;
                        border-radius: 25px;
                    }

                    .step:not(:last-child) {
                        border-right: 1px solid #d9b78a;
                    }

                .custom-tab {
                    color: #d4af37; /* 標籤的文字顏色 */

                    border: 1px solid #d4af37; /* 邊框顏色 */
                    border-radius: 0; /* 移除邊框圓角 */
                    padding: 10px 20px; /* 調整內邊距 */
                    margin-right: 5px; /* 調整標籤之間的間距 */
                }

                    .custom-tab.active {
                        background-color: #d4af37; /* 活躍標籤的背景色 */
                        color: #ffffff; /* 活躍標籤的文字顏色 */
                    }

                .custom-nav-border {
                    border: 2px solid #d4af37; /* 邊框顏色 */
                    border-radius: 50px; /* 創建橢圓形邊框 */
                    padding: 1px; /* 邊框內間距 */
                    display: inline-block;
                }

                .nav-pills {
                    justify-content: center; /* 確保標籤置中 */
                    
                }

                #scrollToTopBtn {
                    position: fixed;
                    bottom: 20px;
                    right: 20px;
                    background-color: rgba(139, 69, 19, 0.8); /* 棕色半透明 */
                    color: white;
                    border: none;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    font-size: 18px;
                    cursor: pointer;
                    display: none; /* 預設隱藏 */
                    justify-content: center;
                    align-items: center;
                    transition: opacity 0.3s ease;
                    opacity : 0.5;
                    line-height: 1.2; /* 調整行高，讓文字居中對齊 */
                    padding : 10px;
                
                }

                    /* 當按鈕顯示時的樣式 */
                    #scrollToTopBtn.show {
                        display: flex;
                    }


            /* 讓 disabled 按鈕顯示為灰色 */
            button:disabled {
                background-color: #ccc; /* 灰色背景 */
                color: #666; /* 灰色文字 */
                cursor: not-allowed; /* 禁止符號的鼠標樣式 */
                border-color: #ccc; /* 灰色邊框 */
            }

                /* 禁用按鈕的 hover 樣式，防止鼠標變成點擊狀態 */
                button:disabled:hover {
                    background-color: #ccc;
                    color: #666;
                    cursor: not-allowed; /* 確保禁用按鈕不顯示手型 */
                }
            </style>
        }






    </head>

    <body>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="bootstrap" viewBox="0 0 118 94">
                <title>Bootstrap</title>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
            </symbol>
            <symbol id="one" viewBox="0 0 16 16">
                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
            </symbol>
            <symbol id="speedometer2" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
                <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
            </symbol>
            <symbol id="table" viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
            </symbol>
            <symbol id="people-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </symbol>
            <symbol id="grid" viewBox="0 0 16 16">
                <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
            </symbol>
            <symbol id="collection" viewBox="0 0 16 16">
                <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z" />
            </symbol>
            <symbol id="calendar3" viewBox="0 0 16 16">
                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
            </symbol>
            <symbol id="chat-quote-fill" viewBox="0 0 16 16">
                <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z" />
            </symbol>
            <symbol id="cpu-fill" viewBox="0 0 16 16">
                <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
                <path d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z" />
            </symbol>
            <symbol id="gear-fill" viewBox="0 0 16 16">
                <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
            </symbol>
            <symbol id="speedometer" viewBox="0 0 16 16">
                <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z" />
                <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z" />
            </symbol>
            <symbol id="toggles2" viewBox="0 0 16 16">
                <path d="M9.465 10H12a2 2 0 1 1 0 4H9.465c.34-.588.535-1.271.535-2 0-.729-.195-1.412-.535-2z" />
                <path d="M6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm.535-10a3.975 3.975 0 0 1-.409-1H4a1 1 0 0 1 0-2h2.126c.091-.355.23-.69.41-1H4a2 2 0 1 0 0 4h2.535z" />
                <path d="M14 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0z" />
            </symbol>
            <symbol id="tools" viewBox="0 0 16 16">
                <path d="M1 0L0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z" />
            </symbol>
            <symbol id="chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
            </symbol>
            <symbol id="geo-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z" />
            </symbol>
        </svg>

        @* 物流圖片 *@
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
            <symbol id="bootstrap" viewBox="0 0 118 94">
                <title>Bootstrap</title>
                <path fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
            </symbol>
            <symbol id="one" viewBox="0 0 16 16">
                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
            </symbol>
            <symbol id="speedometer2" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
                <path fill-rule="evenodd"
                      d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
            </symbol>
            <symbol id="table" viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
            </symbol>
            <symbol id="people-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                <path fill-rule="evenodd"
                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
            </symbol>
            <symbol id="grid" viewBox="0 0 16 16">
                <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
            </symbol>
            <symbol id="collection" viewBox="0 0 16 16">
                <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z" />
            </symbol>
            <symbol id="calendar3" viewBox="0 0 16 16">
                <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
            </symbol>
            <symbol id="chat-quote-fill" viewBox="0 0 16 16">
                <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z" />
            </symbol>
            <symbol id="cpu-fill" viewBox="0 0 16 16">
                <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
                <path d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z" />
            </symbol>
            <symbol id="gear-fill" viewBox="0 0 16 16">
                <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
            </symbol>
            <symbol id="speedometer" viewBox="0 0 16 16">
                <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z" />
                <path fill-rule="evenodd"
                      d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z" />
            </symbol>
            <symbol id="toggles2" viewBox="0 0 16 16">
                <path d="M9.465 10H12a2 2 0 1 1 0 4H9.465c.34-.588.535-1.271.535-2 0-.729-.195-1.412-.535-2z" />
                <path d="M6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm.535-10a3.975 3.975 0 0 1-.409-1H4a1 1 0 0 1 0-2h2.126c.091-.355.23-.69.41-1H4a2 2 0 1 0 0 4h2.535z" />
                <path d="M14 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0z" />
            </symbol>
            <symbol id="tools" viewBox="0 0 16 16">
                <path d="M1 0L0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z" />
            </symbol>
            <symbol id="chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
            </symbol>
            <symbol id="geo-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z" />
            </symbol>
        </svg>

        <main>
            <div class="title-bg mb-3">
                <img class="w-100"
                     src="/assets/brand/layout/banners/banner_01.png"
                     alt="" />
            </div>


            <div class="text-center">
                <h1 class="mx-auto my-4" style="background-color: #b2882f; width: 300px; border-radius: 40px;">會員專區</h1>
            </div>

            <div class="container mt-5">
                <div class="nav-tabs">
                    <button class="nav-link active" id="tab-basic-info" data-bs-toggle="pill" data-bs-target="#tab-content-basic-info" type="button" role="tab" aria-controls="tab-content-basic-info" aria-selected="true">基本資料</button>
                    <button class="nav-link" id="tab-egg-record" data-bs-toggle="pill" data-bs-target="#tab-content-egg-record" type="button" role="tab" aria-controls="tab-content-egg-record" aria-selected="false">蛋雞紀錄</button>
                    <button class="nav-link" id="tab-article-management" data-bs-toggle="pill" data-bs-target="#tab-content-article-management" type="button" role="tab" aria-controls="tab-content-article-management" aria-selected="false">文章管理</button>
                    <button class="nav-link" id="tab-shop-orders" data-bs-toggle="pill" data-bs-target="#tab-content-shop-orders" type="button" role="tab" aria-controls="tab-content-shop-orders" aria-selected="false">商城訂單</button>
                    <button class="nav-link" id="tab-coupons" data-bs-toggle="pill" data-bs-target="#tab-content-coupons" type="button" role="tab" aria-controls="tab-content-coupons" aria-selected="false">優惠券專區</button>
                </div>



                <div class="tab-content mt-4">
                    <div class="tab-pane fade show active" id="tab-content-basic-info" role="tabpanel" aria-labelledby="tab-basic-info">
                        <!-- 基本資料內容 -->
                       @*  <p>這裡是基本資料的內容。</p> *@


                        
                        <h2 class="text-center" style="margin:50px">個人檔案</h2>



                        <div class="container d-flex" style="align-items: center; justify-content: center;">
                            <div class="tab-see mb-3 custom-nav-border" style=" border: 2px solid #d4af37; /* 邊框顏色 */
            border-radius: 50px; /* 創建橢圓形邊框 */
            padding: 1px; /* 邊框內間距 */
            display: inline-block;">
                                <ul class="nav nav-pills mb-1 justify-content-center" id="pills-tab" role="tablist">
                                    <li style="            border: none;
                                    padding: 10px 30px;

                                    margin: 0;
                                    cursor: pointer;
                                    color: #a57c42;
                                    font-size: 16px;
                                    border-radius: 20px 20px 0 0;" class="nav-item custom-tab" role="presentation">
                                    <button  class="nav-link active" id="pills-one-tab" data-bs-toggle="pill" data-bs-target="#pills-one" type="button" role="tab" aria-controls="pills-one" aria-selected="true">基本資料修改</button>
                                    </li>
                                    <li style="            border: none;
                                    padding: 10px 30px;
                                    background-color: #fff;
                                    margin: 0;
                                    cursor: pointer;
                                    color: #a57c42;
                                    font-size: 16px;
                                    border-radius: 20px 20px 0 0;" class="nav-item custom-tab" role="presentation">
                                        <button class="nav-link" id="pills-two-tab" data-bs-toggle="pill" data-bs-target="#pills-two" type="button" role="tab" aria-controls="pills-two" aria-selected="false">綁定帳號</button>
                                    </li>
                                    <li style="            border: none;
                                    padding: 10px 30px;
                                    background-color: #fff;
                                    margin: 0;
                                    cursor: pointer;
                                    color: #a57c42;
                                    font-size: 16px;
                                    border-radius: 20px 20px 0 0;" class="nav-item custom-tab" role="presentation">
                                        <button class="nav-link" id="pills-three-tab" data-bs-toggle="pill" data-bs-target="#pills-three" type="button" role="tab" aria-controls="pills-three" aria-selected="false">物流地址修改</button>
                                    </li>
                                    <li style=" border: none;
                                    padding: 10px 30px;

                                    margin: 0;
                                    cursor: pointer;
                                    color: #a57c42;
                                    font-size: 16px;
                                    border-radius: 20px 20px 0 0;" class="nav-item custom-tab" role="presentation">
                                        <button class="nav-link" id="pills-four-tab" data-bs-toggle="pill" data-bs-target="#pills-four" type="button" role="tab" aria-controls="pills-four" aria-selected="false">雞蛋每日紀錄</button>
                                    </li>
                                    <li style="            border: none;
                                    padding: 10px 30px;

                                    margin: 0;
                                    cursor: pointer;
                                    color: #a57c42;
                                    font-size: 16px;
                                    border-radius: 20px 20px 0 0;" class="nav-item custom-tab" role="presentation">
                                        <button class="nav-link" id="pills-five-tab" data-bs-toggle="pill" data-bs-target="#pills-five" type="button" role="tab" aria-controls="pills-five" aria-selected="false">雞蛋飼料紀錄</button>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-one" role="tabpanel" aria-labelledby="pills-one-tab">
                           @*  1.  *@
                            <form id="UserDataForm" asp-action="MemberPageUpdate" method="post" enctype="multipart/form-data" >
                                <div class="form-container d-flex justify-content-center align-items-center" style="display: flex;">

                                    <span class="text-danger validation-summary-valid" ></span>
                                    <div class="container">
                                        <div class="form-container d-flex justify-content-center align-items-center">
                                            <div class="d-flex" style="flex-direction: row;">
                                                <div class="profile-pic" style="padding: 20px;">
                                                    @{
                                                        if (Model.ProfilePic == null)
                                                        {
                                                            <img id="img1" src="https://via.placeholder.com/100" alt="會員照片">
                                                        }
                                                        else
                                                        {
                                                            <img id="img1" src="@Model.ProfilePic" alt="會員照片">

                                                        }

                                                        }
                                                        
                                                    @* <button>上傳照片</button> *@
                                                        <br />
                                                        <input class="form-control" type="file" id="ProfilePic" name="ProfilePic" asp-for="ProfilePic">
                                                </div>

                                                <div style="padding-left: 20px;">
                                                    <input type="hidden" asp-for="AspUserId" />
                                                    <div class="form-group">
                                                            <label for="username">會員名稱</label>
                                                            @* <span> &nbsp;&nbsp;&nbsp;&nbsp;</span> *@
                                                        <span class="required-tag">必填</span>
                                                            <input type="text" id="username" name="Name" asp-for="Name">
                                                    </div>
                                                    <span class="text-danger" asp-validation-for="Name"></span>

                                                    <br>
                                                    <div class="form-group">
                                                        <span>
                                                            <label for="email">電子郵件</label>
                                                            <span class="required-tag">必填</span>
                                                        </span>
                                                            <input type="email" id="email" name="Email" asp-for="Email" style="width: 370px;" required>
                                                        </div>
                                                        <span class="text-danger" asp-validation-for="Email"></span>
                                                    <br>
                                                    <div class="form-group">
                                                        <span>
                                                            <label for="phone">電話號碼</label>
                                                              @*   <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> *@
                                                            <span class="required-tag">必填</span>
                                                        </span>
                                                            <input type="text" id="phone" name="Phone" asp-for="Phone" required>
                                                    </div>
                                                        <span class="text-danger" asp-validation-for="Phone"></span>
                                                    <br>
                                                    <div class="form-group">
                                                        <span>
                                                            <label for="birthdate">出生日期</label>
                                                            @* <span class="required-tag">必填</span> *@
                                                            <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                        </span>
                                                            <input type="date" id="birthdate" name="BirthDate" asp-for="BirthDate" required>
                                                        </div>
                                                        <span class="text-danger" asp-validation-for="BirthDate"></span>
                                                    <br>

                                                    <br>

                                                        @{
                                                            if (Model.IsChickFarm == 0)
                                                            {
                                                                <div class="form-group">
                                                                    <span>
                                                                        <label for="password">成為雞農！</label>
                                                                    </span>
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                                                    <button id="btnBecomeFarm" type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                                        開通功能
                                                                    </button>
                                                                </div>
                                                            }

                                                     }
                                              

                                               


                                                </div>
                                            </div>
                                        </div>


                                        <br>


                                    </div>
                                </div> <div class="buttons">
                                    <button type="reset" class="cancel">取消</button>
                                        <button  id="btnSubmit" type="submit">確定</button>
                                </div>
                                </form>




                           
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">成為雞農！</h5>
                                                <button  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">

                                                <div class="form-group">
                                                    <span>
                                                        <label for="Chickcode">輸入五碼牧場證號</label>

                                                    </span>
                                                    <input type="text" id="Chickcode" name="Chickcode" asp-for="Chickcode">
                                                </div>


                                            </div>
                                            <div class="modal-footer">
                                                <button type="reset" class="cancel" data-bs-dismiss="modal" style="  background-color: #f7d9b4;
                                    color: #a57c42;
                                    border: none;
                                  padding: 10px 20px;
                                  margin: 0 10px;
                                  cursor: pointer;

                                  font-size: 16px;
                                  border-radius: 5px;
                                    ">
                                                    取消
                                                </button>
                                                <button id="btnchickCodeYES" type="button" style="background-color: #a57c42;
                                  border: none;
                                  padding: 10px 20px;
                                  margin: 0 10px;
                                  cursor: pointer;
                                  color: #fff;
                                  font-size: 16px;
                                  border-radius: 5px;">
                                                    確認
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="tab-pane fade" id="pills-two" role="tabpanel" aria-labelledby="pills-two-tab"></div>
                            <div class="tab-pane fade" id="pills-three" role="tabpanel" aria-labelledby="pills-three-tab">

                                <div class="container w-80 mt-3 mt-md-5" style="overflow: auto">
                                    <div class="row pagebody-store">
                                        <div class="col-12">
                                            <div class="page-title">
                                                <h5 class="mb-3 d-flex justify-content-between w-100">
                                                    訂單管理
                                                    <span class="d-flex">
                                                        <button class="btn light-btn-n" type="button">
                                                            物流開放
                                                        </button>
                                                        <button class="btn light-btn-n ms-3" type="button">
                                                            新增宅配
                                                        </button>
                                                    </span>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mt-3">
                                            <div class="accordion" id="accordionExample">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="headingOne">
                                                        <button class="accordion-button"
                                                                type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#collapseOne"
                                                                aria-expanded="true"
                                                                aria-controls="collapseOne">
                                                            宅配<img src="/assets/brand/common/blackcat_logo.svg"
                                                                   alt="" />
                                                        </button>
                                                    </h2>
                                                    <div id="collapseOne"
                                                         class="accordion-collapse collapse show"
                                                         aria-labelledby="headingOne"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="other-info d-flex flex-column flex-lg-row">
                                                                <div class="w-100 mx-auto">
                                                                    <div class="part form-control-n">
                                                                        <div class="carrier-type w-100 d-flex justify-content-between pb-1">
                                                                            <p class="d-flex align-items-center mb-0">
                                                                                黑貓宅急便<span>常溫</span>
                                                                            </p>
                                                                            <div class="d-flex justify-content-center align-items-center">
                                                                                <button class="btn track-info p-0">刪除</button>
                                                                                <button class="btn track-info ms-3 p-0">
                                                                                    編輯
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                        <div class="carrier-address d-flex flex-column flex-xl-row">
                                                                            <div class="d-flex mt-1 mt-md-0">
                                                                                <p class="name me-2 m-0">張家豪</p>
                                                                                <p class="phone me-2 m-0">0960101028</p>
                                                                            </div>
                                                                            <p class="address me-2 m-0">
                                                                                <span class=""></span>台北市中正區忠孝東路一段72號76號1樓台北市中正區忠孝
                                                                            </p>
                                                                        </div>
                                                                        <p class="default me-2 m-0">預設</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr class="m-0" />
                                                            <div class="other-info d-flex flex-column flex-lg-row">
                                                                <div class="w-100 mx-auto">
                                                                    <div class="part form-control-n">
                                                                        <div class="carrier-type w-100 d-flex justify-content-between pb-1">
                                                                            <p class="d-flex align-items-center mb-0">
                                                                                黑貓宅急便<span>冷藏</span>
                                                                            </p>
                                                                            <div class="d-flex justify-content-center align-items-center">
                                                                                <button class="btn track-info p-0">刪除</button>
                                                                                <button class="btn track-info ms-3 p-0">
                                                                                    編輯
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                        <div class="carrier-address d-flex flex-column flex-xl-row">
                                                                            <div class="d-flex mt-1 mt-md-0">
                                                                                <p class="name me-2 m-0">張家豪</p>
                                                                                <p class="phone me-2 m-0">0960101028</p>
                                                                            </div>
                                                                            <p class="address me-2 m-0">
                                                                                <span class=""></span>台北市中正區忠孝東路一段72號76號1樓台北市中正區忠孝
                                                                            </p>
                                                                        </div>
                                                                        <p class="default me-2 m-0 d-none">預設</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item mt-5">
                                                    <h2 class="accordion-header" id="headingTwo">
                                                        <button class="accordion-button collapsed"
                                                                type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#collapseTwo"
                                                                aria-expanded="false"
                                                                aria-controls="collapseTwo">
                                                            超商
                                                            <img src="/assets/brand/common/seven-logo.png" alt="" />
                                                        </button>
                                                    </h2>
                                                    <div id="collapseTwo"
                                                         class="accordion-collapse collapse"
                                                         aria-labelledby="headingTwo"
                                                         data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <div class="other-info d-flex flex-column flex-lg-row">
                                                                <div class="w-100 mx-auto">
                                                                    <div class="part form-control-n">
                                                                        <div class="carrier-type w-100 d-flex justify-content-between pb-1">
                                                                            <p class="d-flex align-items-center mb-0">
                                                                                7-ELEVEN<span>常溫</span>
                                                                            </p>
                                                                            <div class="d-flex justify-content-center align-items-center">
                                                                                <button class="btn track-info p-0">刪除</button>
                                                                                <button class="btn track-info ms-3 p-0">
                                                                                    編輯
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                        <div class="carrier-address d-flex flex-column flex-xl-row">
                                                                            <div class="d-flex mt-1 mt-md-0">
                                                                                <p class="name me-2 m-0">張家豪</p>
                                                                                <p class="phone me-2 m-0">0960101028</p>
                                                                            </div>
                                                                            <p class="address me-2 m-0">
                                                                                <span class="me-1">忠孝東門市 | </span>台北市中正區忠孝東路一段72號76號1樓台北市中正區忠孝
                                                                            </p>
                                                                        </div>
                                                                        <p class="default me-2 m-0">預設</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-four" role="tabpanel" aria-labelledby="pills-four-tab">
                            @if (Model.Chickcode == null)
                            {
                                <div class="d-flex justify-content-center">
                                    <img src="~/memberimg/chickopenfirst.jpg" />
                                </div>
                            }
                            else
                            {
                                <br />
                                <div class="form-row mb-3">
                                    <div class="col-md-9 d-flex justify-content-end align-items-center">
                                        <label for="date" class="form-label me-custom">填寫日期</label>
                                        <input type="date"
                                               class="form-control w-50"
                                               id="date_1"
                                               value="2024-09-28" />
                                    </div>
                                </div>
                                <hr />
                                <br />
                                <div class="form-row mb-3">
                                    <div class="col-md-9 d-flex justify-content-end align-items-center">
                                        <label for="ChickHouse_Selected" class="form-label me-custom">雞舍</label>
                                        <select class="form-control w-50" id="ChickHouse_Selected"></select>
                                    </div>
                                </div>
                                <br />
                                <div class="form-row mb-3">
                                    <div class="col-md-9 d-flex justify-content-end align-items-center">
                                        <label for="production" class="form-label me-custom">產蛋數</label>
                                        <input type="number" class="form-control w-50" id="production" required />
                                    </div>
                                </div>
                                <br />
                                <div class="form-row mb-3">
                                    <div class="col-md-9 d-flex justify-content-end align-items-center">
                                        <label for="defective" class="form-label me-custom">不合格數</label>
                                        <input type="number" class="form-control w-50" id="defective" required />
                                    </div>
                                </div>
                                <br />
                                <div class="form-row mb-3">
                                    <div class="col-md-9 d-flex justify-content-end align-items-center">
                                        <label for="death" class="form-label me-custom">死亡數</label>
                                        <input type="number" class="form-control w-50" id="death" required />
                                    </div>
                                </div>
                                <br />
                                <div class="form-row mb-3">
                                    <div class="col-md-9 d-flex justify-content-end">
                                        <div class="w-50 d-flex justify-content-end">
                                            <button type="submit" class="btn light-btn-n" onclick="Insert_Record1()">
                                                新增記錄</button>
                                        </div>
                                    </div>
                                </div>


                                        
                            }
                                
                            </div>
                            <div class="tab-pane fade" id="pills-five" role="tabpanel" aria-labelledby="pills-five-tab">
                            @if (Model.Chickcode == null)
                            {
							    <div class="d-flex justify-content-center">
                                    <img src="~/memberimg/chickopenfirst.jpg" />
                                </div>
                            }
                            else
                            {
                                <div class="form-row mb-3">
                                    <div class="col-md-9 d-flex justify-content-end align-items-center">
                                        <label for="date" class="form-label me-custom">填寫日期</label>
                                        <input type="date"
                                               class="form-control w-50"
                                               id="date_2"
                                               value="2024-09-28" />
                                    </div>
                                </div>
                                <hr />
                                <br />
                                <div class="form-row mb-3">
                                    <div class="col-md-9 d-flex justify-content-end align-items-center">
                                        <label for="Area_Selected" class="form-label me-custom">區域</label>
                                        <select class="form-control w-50" id="Area_Selected"></select>
                                    </div>
                                </div>
                                <br />
                                <div class="for m-row mb-3">
                                    <div class="col-md-9 d-flex justify-content-end align-items-center">
                                        <label for="weight" class="form-label me-custom">重量</label>
                                        <input type="number" class="form-control w-50" id="weight" required />
                                    </div>
                                </div>
                                <br />
                                <div class="form-row mb-3">
                                    <div class="col-md-9 d-flex justify-content-end align-items-center">
                                        <label for="cost" class="form-label me-custom">成本</label>
                                        <input type="number" class="form-control w-50" id="cost" required />
                                    </div>
                                </div>
                                <br />
                                <div class="form-row mb-3">
                                    <div class="col-md-9 d-flex justify-content-end align-items-center">
                                        <label for="lot" class="form-label me-custom">批號</label>
                                        <input type="text" class="form-control w-50" id="lot" required />
                                    </div>
                                </div>
                                <br />
                                <div class="form-row mb-3">
                                    <div class="col-md-9 d-flex justify-content-end">
                                        <div class="w-50 d-flex justify-content-end">
                                            <button type="submit" class="btn light-btn-n" onclick="Insert_Record2()">
                                                新增記錄
                                            </button>
                                        </div>
                                    </div>
                                </div>


                            }
                            
                            </div>
                            <div class="position-fixed top-0  p-3" style="z-index: 11">
                                <div id="toastMessage" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="d-flex">
                                        <div class="toast-body">
                                            <!-- 消息內容將在 JavaScript 中動態設置 -->
                                        </div>
                                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                    <div class="tab-pane fade" id="tab-content-egg-record" role="tabpanel" aria-labelledby="tab-egg-record">
                        <!-- 蛋雞紀錄內容 -->
                        <p>這裡是蛋雞紀錄的內容。</p>
                    </div>
                    <div class="tab-pane fade" id="tab-content-shop-orders" role="tabpanel" aria-labelledby="tab-shop-orders">
                        <!-- 商城訂單內容 -->
                        <p>這裡是商城訂單的內容。</p>
                    </div>
                    <div class="tab-pane fade" id="tab-content-coupons" role="tabpanel" aria-labelledby="tab-coupons">
                        <!-- 優惠券專區內容 -->
                        <p>這裡是優惠券專區的內容。</p>
                    </div>
                </div>
            </div>

        </main>


        <button id="scrollToTopBtn">↑ Top</button>



    <footer>

        <br>
        <br>
        <br>
        <br>
        <br>
    </footer>

    </body>



    </html>

@section Scripts{

    <!-- 引用jquery來驗證表單的資料輸入是否正確 -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    <!-- //小分頁切換功能  應該是原本的壞掉了所以改用新的切換功能了 不確定 明天問問別人 -->
    <!-- <script src="/assets/dist/js/bootstrap.bundle.min.js"></script> -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- DataTables 核心 JS -->
    <script src="https://cdn.datatables.net/2.1.3/js/dataTables.js"></script>
    <!-- FixedHeader JS -->
    <script src="https://cdn.datatables.net/fixedcolumns/5.0.1/js/dataTables.fixedColumns.js"></script>
    <!-- FixedColumns JS -->
    <script src="https://cdn.datatables.net/fixedcolumns/5.0.1/js/fixedColumns.dataTables.js"></script>

    <!-- <script src="./assets/dist/js/bootstrap.bundle.min.js"></script> -->
    <!-- <script src="/assets/dist/js/self_n.js"></script> -->
    <!-- Bootstrap JavaScript -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script> -->
    <script src="~/js/Data/Data.js"></script>


    <script>

        document.addEventListener("DOMContentLoaded", function () {
            // 取得所有的標籤按鈕
            const tabButtons = document.querySelectorAll(".nav-tabs button");
            // 取得所有的標籤內容
            const tabContents = document.querySelectorAll(".tab-content .tab-pane");

            // 為每個標籤按鈕添加點擊事件
            tabButtons.forEach(button => {
                button.addEventListener("click", function () {
                    // 移除所有按鈕的 active 類別
                    tabButtons.forEach(btn => btn.classList.remove("active"));
                    // 為當前按鈕添加 active 類別
                    this.classList.add("active");

                    // 隱藏所有的標籤內容
                    tabContents.forEach(content => content.classList.remove("show", "active"));

                    // 顯示當前按鈕對應的標籤內容
                    const tabTarget = this.getAttribute("data-bs-target");
                    document.querySelector(tabTarget).classList.add("show", "active");
                });
            });

            // 預設點擊第一個按鈕，顯示第一個內容

            tabButtons[0].click();

       //---------------------設定雞農出生日期合理範圍------------------------
        // 取得當前日期
        var today = new Date();

        // 計算出合理的最小日期（假設年齡最大為 120 歲）
        var minDate = new Date();
        minDate.setFullYear(today.getFullYear() - 120); // 假設最大年齡為 120 歲

        // 計算出合理的最大日期（今天 - 18 年，假設最小年齡為 18 歲）
        var maxDate = new Date();
        maxDate.setFullYear(today.getFullYear() - 18); // 最小年齡 18 歲

        // 設置 input 的 min 和 max 屬性
        document.getElementById("birthdate").setAttribute("min", minDate.toISOString().split('T')[0]);
        document.getElementById("birthdate").setAttribute("max", maxDate.toISOString().split('T')[0]);

           

            //-----------------------------------紀錄邏輯-----------------------------------------
            today = new Date().toISOString().split('T')[0];
            const defaultMemberSid = 1;//需抓瀏覽器Sid
            document.getElementById('date_1').value = today;
            document.getElementById('date_2').value = today;

            loadHouse(defaultMemberSid);
            loadArea(defaultMemberSid);
        });


        //----------------------滾動按鈕-------------------------------
        // 獲取按鈕元素
        const scrollToTopBtn = document.getElementById('scrollToTopBtn');

        // 當滾動超過一定距離時，顯示按鈕
        window.addEventListener('scroll', () => {
            if (window.scrollY > 300) {
                scrollToTopBtn.classList.add('show');
            } else {
                scrollToTopBtn.classList.remove('show');
            }
        });

        // 點擊按鈕後滾動到頂部
        scrollToTopBtn.addEventListener('click', () => {
            window.scrollTo({
                top: 0,
                behavior: 'smooth' // 平滑滾動效果
            });
        });

        //--------------------驗證會員輸入的資料是否有符合規則-------------------------
         // 取得表單和提交按鈕
    const form = document.getElementById('UserDataForm');
        const submitBtn = document.getElementById('btnSubmit');
    
    // 正則表達式驗證
    var emailPattern = /^[^@@\s]+@@[^@@\s]+\.[^@@\s]+$/;
    var phonePattern = /^09\d{8}$/;

    // 驗證欄位
    function validateForm() {
        var name = document.getElementById('username').value.trim() !== '';
        var email = emailPattern.test(document.getElementById('email').value);
        var phone = phonePattern.test(document.getElementById('phone').value);
        
        

        // 如果所有欄位都有效，啟用提交按鈕，否則禁用
        submitBtn.disabled = !(name && email && phone );
    }

    // 當表單輸入改變時進行驗證
    form.addEventListener('input', validateForm);


        //-----------------------更新會員資料-----------------------

        btnSubmit.addEventListener("click", async (event) => {
            event.preventDefault()


            const dataForm = new FormData(document.querySelector('#UserDataForm'));
            const token = document.querySelector('input[name="__RequestVerificationToken"]').value;
            dataForm.append('__RequestVerificationToken', token);
            for (const pair of dataForm.entries()) {
                console.log(pair[0])
                console.log(pair[1])
            }

            try {
                // 發送 AJAX 請求
                const response = await fetch('/Frontstage/Members/MemberPageUpdate', {
                    method: 'POST',  // POST 方法用於提交資料
                    body: dataForm
                });

                // 處理後端的回應
                const result = await response.json();
                console.log('Success:', result);
            } catch (error) {
                console.error('Error:', error);
            }


            alert('用戶資料更新成功!')

        });

        //-----------------------------會員頭像預覽----------------------------------------
        document.getElementById('ProfilePic').addEventListener('change', function (event) {
            const file = event.target.files[0];

            if (file) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    const img = document.getElementById('img1');
                    img.src = e.target.result;  // 設置圖片的來源為上傳的文件
                    img.style.display = 'block';  // 顯示圖片
                }

                reader.readAsDataURL(file);  // 讀取文件並在完成後觸發 onload
            }
        });


        //------------------------會員開通雞農--------------------------------------------------

        btnchickCodeYES = document.querySelector('#btnchickCodeYES')
        btnchickCodeYES.addEventListener("click", async (event) => {
            event.preventDefault()

            const Chickcode = document.querySelector('#Chickcode').value;
           
                // console.log(Chickcode)
              
            

            try {
                // 發送 AJAX 請求
                const response = await fetch('/Frontstage/Members/MemberbecomeChickFarm', {
                    method: 'POST',  // 使用 POST 方法來提交數據
                    headers: {
                        'Content-Type': 'application/json'  // 設定請求的類型為 JSON
                    },
                    body: JSON.stringify({ Chickcode: Chickcode })  // 將資料轉換為 JSON 字符串
                });

                // 處理後端的回應
                const result = await response.json();
                console.log('Success:', result);

                alert('雞農功能開通!')
            } catch (error) {
                console.error('Error:', error);
            }

        });


        //-------------------------------雞農每日紀錄--------------------------------------------

        async function Insert_Record1() {
            const data = {
                Date: document.getElementById('date_1').value,
                MemberSid: 1,//抓session登入id
                HouseSid: document.getElementById('ChickHouse_Selected').value,
                EggAmount: document.getElementById('production').value,
                UnQAmount: document.getElementById('defective').value,
                DeathAmount: document.getElementById('death').value
            };

            console.log(data);

            try {
                const response = await fetch('/Frontstage/DataApi/Insert_Record1', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });
                const result = await response.json();
                if (result.success) {
                    showToast('記錄新增成功', 'bg-success'); // 顯示成功的 Toast
                } else {
                    showToast('記錄新增失敗: ' + result.message, 'bg-danger'); // 顯示失敗的 Toast
                }
            } catch (error) {
                showToast('Error inserting record 2: ' + error, 'bg-danger'); // 顯示錯誤的 Toast
            }
        }

        async function Insert_Record2() {
            const data = {
                Date: document.getElementById('date_2').value,
                MemberSid: 1,//抓session登入id
                AreaSid: document.getElementById('Area_Selected').value,
                Weight: document.getElementById('weight').value,
                Cost: document.getElementById('cost').value,
                LotNo: document.getElementById('lot').value
            };

            try {
                const response = await fetch('/Frontstage/DataApi/Insert_Record2', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                const result = await response.json();
                if (result.success) {
                    showToast('記錄新增成功', 'bg-success'); // 顯示成功的 Toast
                } else {
                    showToast('記錄新增失敗: ' + result.message, 'bg-danger'); // 顯示失敗的 Toast
                }
            } catch (error) {
                showToast('Error inserting record 2: ' + error, 'bg-danger'); // 顯示錯誤的 Toast
            }
        }

        function showToast(message, toastClass) {
            const toastElement = document.getElementById('toastMessage');
            const toastBody = toastElement.querySelector('.toast-body');

            // 設置 Toast 內容和樣式
            toastBody.textContent = message;
            toastElement.className = `toast align-items-center text-white ${toastClass} border-0`; // 動態設置背景色

            // 使用 Bootstrap 的 JavaScript API 來顯示 Toast
            const toast = new bootstrap.Toast(toastElement);
            toast.show();
        }

    </script>
}