@{
    Layout = "_FrontLayout_store";
}

<div class="col-12">
    <div class="page-title">
        <h5 class="mb-3">物流查詢</h5>
    </div>
</div>
<div class="col-lg-12 mt-3">
    <p class="w-100 d-flex flex-column flex-lg-row justify-content-between title">
        物流號碼
        <span class="description d-none d-lg-inline">
            ※ 搜尋物流號碼，請使用特定格式，如:
            BL202406080001，BL202406080002
        </span>
    </p>

    <div class="input-group input-group-n pb-2">
        <input type="text" id="track-input" class="form-control" placeholder="" aria-label="Track No" aria-describedby="button-addon2">
        <button class="btn light-btn-n" type="button" id="button-addon2">
            搜尋
        </button>
    </div>
    <div class="row mt-4 d-none" id="searchData">
        <div class="col col-sm-12">
            <div class="card shadow-sm cart-card" style="
                 min-height: 180px;">
                <div class="cart-card-item w-100">
                    <div class="card-body-img d-flex flex-column flex-xl-row w-100 px-3">
                        <div class="d-flex mt-2 other-info">
                            <div class="d-flex flex-column">
                                <div class="img_box">
                                    <img src="~/FrontstageTemplate/assets/brand/page/cart/profuct_1.png" />
                                </div>
                            </div>
                            <div class="d-flex flex-column d-flex flex-column ms-3 pe-3 me-5">
                                <small class="mb-0">SE202406080001</small>
                                <p class="describe carrier-type d-flex align-items-center">
                                    7-ELEVEN
                                    <span>常溫</span>
                                </p>
                            </div>
                        </div>

                        <div class="card-body flex-row align-items-center p-0 mt-3 mt-md-0">
                            <div class="w-100 d-flex flex-column flex-lg-row justify-content-between align-items-start">
                                <div class="w-100">
                                    <div class="timeline" data-layout="vertical">
                                        <div class="timeline-entry">
                                            <div class="timeline-date last"></div>
                                            <div class="timeline-content d-flex flex-column flex-sm-row">
                                                <p class="timeline-header">
                                                    2024-06-08 11:34:54
                                                </p>
                                                <p class="timeline-body">
                                                    包裹送往物流中心
                                                </p>
                                            </div>
                                        </div>
                                        <div class="timeline-entry">
                                            <div class="timeline-date"></div>
                                            <div class="timeline-content d-flex flex-column flex-sm-row">
                                                <p class="timeline-header">
                                                    2024-06-08 11:34:54
                                                </p>
                                                <p class="timeline-body">
                                                    包裹送往物流中心
                                                </p>
                                            </div>
                                        </div>
                                        <div class="timeline-entry">
                                            <div class="timeline-date first"></div>
                                            <div class="timeline-content d-flex flex-column flex-sm-row">
                                                <p class="timeline-header">
                                                    2024-06-08 11:34:54
                                                </p>
                                                <p class="timeline-body">
                                                    包裹送往物流中心
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-sm-12 mt-4 pt-2 pb-5">
            <div class="card shadow-sm cart-card">
                <div class="other-info d-flex flex-column flex-lg-row mx-3 mx-lg-2 my-4">
                    <div class="w-100 mx-auto mx-lg-4">
                        <div class="part form-control-n" id="sendInfo">
                            <div class="w-100 d-flex justify-content-between">
                                <div class="title">
                                    <div class="title-line"></div>
                                    寄貨人資訊
                                </div>
                            </div>

                            <div class="carrier-address d-flex flex-column">
                                <div class="d-flex mt-1 mt-md-0">
                                    <p class="name me-2 m-0">張家豪</p>
                                    <p class="phone me-2 m-0">0960101028</p>
                                </div>
                                <p class="address me-2 m-0">
                                    <span class="me-1">忠孝東門市 | </span>台北市中正區忠孝東路一段72號76號1樓台北市中正區忠孝
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 mx-auto mx-lg-4 mt-4 mt-lg-0">
                        <div class="part form-control-n" id="receiveInfo">
                            <div class="w-100 d-flex justify-content-between">
                                <div class="title">
                                    <div class="title-line"></div>
                                    收件人資訊
                                </div>
                            </div>

                            <div class="carrier-address d-flex flex-column">
                                <div class="d-flex mt-1 mt-md-0">
                                    <p class="name me-2 m-0">張家豪</p>
                                    <p class="phone me-2 m-0">0960101028</p>
                                </div>
                                <p class="address me-2 m-0">
                                    <span class="me-1">忠孝東門市 | </span>台北市中正區忠孝東路一段72號76號1樓台北市中正區忠孝
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


@section Scripts {
    <script>

        $(document).ready(function () {


            $('#button-addon2').click(function () {
                // 获取输入框中的追踪号码
                var trackNo = $('#track-input').val();

                // 定义正则表达式：前两位必须是英文字母，后面10位必须是数字

                findData(trackNo);


            });

            function findData(trackNo) {
                $.ajax({
                    url: 'https://localhost:7080/Frontstage/StoreCentersAPI/GetTrackInfo',
                    method: 'GET',
                    data: { TrackingNum: trackNo },
                    success: function (response) {
                        // 假设 API 返回的数据是 response
                        populateTrackInfo(response);
                        $('#searchData').removeClass('d-none');
                    },
                    error: function (error) {
                        console.error('Error fetching track info:', error);
                    }
                });
            }



            // 处理数据并将其填充到页面
            function populateTrackInfo(data) {
                // 设置追踪号、物流名称和运输方式
                $('.other-info .mb-0').text(data.trackingNum);
                $('.carrier-type').html(`${data.carrierName} <span>${data.carrierWay}</span>`);

                // 更新图片
                $('.img_box img').attr('src', data.productImage);

                const timelineContainer = $('.timeline');
                timelineContainer.empty(); // 清空现有的条目

                // 获取最早和最晚的条目
                const lastTrackTimeSid = data.trackTimes[0].trackTimeSid;
                const firstTrackTimeSid = data.trackTimes[data.trackTimes.length - 1].trackTimeSid;

                data.trackTimes.forEach(function (trackTime) {
                    // 判断当前条目是否为最早或最晚
                    const isFirst = (trackTime.trackTimeSid === firstTrackTimeSid) ? 'first' : '';
                    const isLast = (trackTime.trackTimeSid === lastTrackTimeSid) ? 'last' : '';
                    const formattedDateTime = trackTime.createdTime.replace('T', ' ').split('.')[0];

                    // 生成条目并添加到时间线容器中
                    timelineContainer.append(`
                        <div class="timeline-entry">
                            <div class="timeline-date ${isFirst} ${isLast}"></div>
                            <div class="timeline-content d-flex flex-column flex-sm-row">
                                        <p class="timeline-header">${formattedDateTime}</p>
                                <p class="timeline-body">${trackTime.status}</p>
                            </div>
                        </div>
                    `);
                });


                // 更新寄件和收件地址
                const sendAddress = data.sendReceiveAddresses[0];
                const receiveAddress = data.sendReceiveAddresses[1];
                var sendStoreNameHtml = sendAddress.storeName ?
                    `<span class="me-1">${sendAddress.storeName} | </span>` :
                    '<span class="me-1 d-none"></span>';

                // 寄件人信息
                const sendInfo = $('#sendInfo');
                sendInfo.find('.name').text(sendAddress.recordName);
                sendInfo.find('.phone').text(sendAddress.recordPhone);
                sendInfo.find('.address').html(`${sendStoreNameHtml}${sendAddress.adress}`);

                // 构建收件人地址 HTML
                var receiveStoreNameHtml = receiveAddress.storeName ?
                    `<span class="me-1">${receiveAddress.storeName} | </span>` :
                    '<span class="me-1 d-none"></span>';

                // 收件人信息
                const receiveInfo = $('#receiveInfo');
                receiveInfo.find('.name').text(receiveAddress.recordName);
                receiveInfo.find('.phone').text(receiveAddress.recordPhone);
                receiveInfo.find('.address').html(`${receiveStoreNameHtml}${receiveAddress.adress}`);
            }


        })



    </script>
}