@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    var userId = TempData["UserId"] as string;
    var success = Request.Query["success"];  // 取得 URL 中的 success 參數
   

}

@* <h2>信箱驗證成功！</h2> *@


@if (!string.IsNullOrEmpty(userId) && (Model.StatusMessage != "驗證連結無效或已過期"))
{
    <div style="text-align: center;">
        @* <partial name="_StatusMessage" model="Model.StatusMessage" /> *@
        <img src="~/MemberImg/emailConfirmed.png" />
        

    </div>
    

     <script type="text/javascript">
        setTimeout(function () {
            window.location.href = '@Url.Action("Login", "Account", new { area = "Identity" })';
        }, 5000);
    </script>
}
else
{
   
    <div style="text-align: center;">
       
        <img src="~/MemberImg/emailFailedPic.jpg" />


    </div>


    <script type="text/javascript">
        setTimeout(function () {
            window.location.href = '@Url.Action("Login", "Account", new { area = "Identity" })';
        }, 5000);
    </script>
}