@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

@* <h2>@ViewData["Title"]</h2> *@
<h2>驗證信已寄出</h2>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {

<p>
        請至信箱收取信件，並且點擊連結以完成驗證
</p>
    }
}
