@model EggProductionProject_MVC.Models.Article

@{
    ViewData["Title"] = "Create";
}
<h1>發布文章</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArticleTitle" class="control-label">文章標題</label>
                <input asp-for="ArticleTitle" class="form-control" />
                <span asp-validation-for="ArticleTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleInfo" class="control-label">文章內容</label>
                <textarea asp-for="ArticleInfo" class="form-control" rows="10"></textarea>
                <span asp-validation-for="ArticleInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleCategoriesSid" class="control-label">文章分類</label>
                <select asp-for="ArticleCategoriesSid" class="form-control" asp-items="ViewBag.ArticleCategoriesSid"></select>
                <input type="hidden" asp-for="ArticleCategoriesSid" />
            </div>
            <div class="form-group">
                <label asp-for="PublicStatusNo" class="control-label">公開狀態</label>
                <select asp-for="PublicStatusNo" class="form-control" asp-items="ViewBag.PublicStatusNo"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
