@model IEnumerable<EggProductionProject_MVC.Models.Article>

@{
    ViewData["Title"] = "Index";
}
<h1>文章總數: 共 <span id="total-articles">@ViewData["TotalArticles"]</span> 篇文章</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">發布文章</a>
</p>
<form id="searchForm" method="get">
    <div class="form-group">
        <input type="text" id="searchString" name="searchString" value="@ViewData["CurrentFilter"]"
        class="form-control" placeholder="搜尋文章標題" />
    </div>
    <div class="form-group">
        <input type="submit" value="搜尋" class="btn btn-primary" />
        <button class="btn btn-secondary" id="resetButton" type="button">重置</button>
    </div>
</form>

<div id="articlesList">
    @await Html.PartialAsync("_ArticlesPartial", Model)
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // 搜索提交的按鈕
        $('#searchForm').on('submit', function (e) {
            e.preventDefault();

            var searchString = $('#searchString').val();
            $.ajax({
                url: '@Url.Action("SearchPartial")',
                data: { searchString: searchString },
                success: function (result) {
                    $('#articlesList').html(result);
                    $('#total-articles').text($(result).find('tbody tr').length);
                }
            });
        });

        // 重置按鈕的
        $('#resetButton').on('click', function () {
            // 清空搜索框
            $('#searchString').val('');

            // 請求重加載文章列表
            $.ajax({
                url: '@Url.Action("SearchPartial")',
                data: { searchString: '' }, // 沒搜索關鍵字傳空值
                success: function (result) {
                    $('#articlesList').html(result);
                    $('#total-articles').text($(result).find('tbody tr').length);
                }
            });
        });
    });
</script>

