@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Styles
{
    <style>

    </style>
}

<div class="container-fluid">
    <iframe title="DataAnalyzepowerbi" width="1366" height="900" frameborder="0" allowFullScreen="true"
            src="https://app.powerbi.com/view?r=eyJrIjoiZmI5NTVjYzAtZWJlYy00Y2IzLTljYjYtZThlZjI2ZGI1YjBkIiwidCI6IjcwODk3ZDZmLTBhNDgtNDlkZS04ODBmLTI3ZDhhZDQ1ZDc2ZSIsImMiOjEwfQ%3D%3D">
    </iframe>
</div>


@section Scripts
{
    <script>

    </script>
}
