@{
    ViewData["Title"] = "生產分析";
}
@section Styles
{
    <style>

    </style>
}

<div class="container-fluid " style="overflow: hidden;">
@*     <iframe title="DataAnalyzepowerbi" width="1250" height="600" frameborder="0" allowFullScreen="true" style="width: inherit;"
      src="https://app.powerbi.com/view?r=eyJrIjoiZmI5NTVjYzAtZWJlYy00Y2IzLTljYjYtZThlZjI2ZGI1YjBkIiwidCI6IjcwODk3ZDZmLTBhNDgtNDlkZS04ODBmLTI3ZDhhZDQ1ZDc2ZSIsImMiOjEwfQ%3D%3D">
    </iframe> *@
    <iframe title="DataAnalyzepowerbi_v2" width="1250" height="600" frameborder="0" allowFullScreen="true" style="width: inherit;"
        src="https://app.powerbi.com/view?r=eyJrIjoiYjY3YzQwZTEtZWQ2Ni00ZGU1LWJjNDYtNDk5YTdjMjI5ZDA2IiwidCI6IjcwODk3ZDZmLTBhNDgtNDlkZS04ODBmLTI3ZDhhZDQ1ZDc2ZSIsImMiOjEwfQ%3D%3D"></iframe>
</div>
    


@section Scripts
{
    <script>

    </script>
}
