@model EggProductionProject_MVC.Models.Reply

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Reply</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArticleSid" class="control-label"></label>
                <select asp-for="ArticleSid" class ="form-control" asp-items="ViewBag.ArticleSid"></select>
            </div>
            <div class="form-group">
                <label asp-for="ArticleCreaterSid" class="control-label"></label>
                <select asp-for="ArticleCreaterSid" class ="form-control" asp-items="ViewBag.ArticleCreaterSid"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReplyInfo" class="control-label"></label>
                <input asp-for="ReplyInfo" class="form-control" />
                <span asp-validation-for="ReplyInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReplyDate" class="control-label"></label>
                <input asp-for="ReplyDate" class="form-control" />
                <span asp-validation-for="ReplyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReplyUpdate" class="control-label"></label>
                <input asp-for="ReplyUpdate" class="form-control" />
                <span asp-validation-for="ReplyUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditTimes" class="control-label"></label>
                <input asp-for="EditTimes" class="form-control" />
                <span asp-validation-for="EditTimes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagMemberNo" class="control-label"></label>
                <input asp-for="TagMemberNo" class="form-control" />
                <span asp-validation-for="TagMemberNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicStatusNo" class="control-label"></label>
                <select asp-for="PublicStatusNo" class ="form-control" asp-items="ViewBag.PublicStatusNo"></select>
            </div>
            <div class="form-group">
                <label asp-for="DeleteOrNot" class="control-label"></label>
                <input asp-for="DeleteOrNot" class="form-control" />
                <span asp-validation-for="DeleteOrNot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
