@model IEnumerable<EggProductionProject_MVC.Models.Reply>

@{
    ViewData["Title"] = "Index";
}
<style>
    /* 表格样式 */
    .table-hover {
        width: 100%;
        border-collapse: collapse; /* 合并边框 */
        font-family: 'Arial', sans-serif; /* 字体族 */
        font-size: 16px; /* 字体大小 */
        line-height: 1.6; /* 行高 */
    }
        /* 表头样式 */
        .table-hover thead th {
/*             background-color: #4169E1; /* 主题颜色 */
            /* color: #ffffff; */ */
            padding: 12px; /* 调整内边距 */
            text-align: left;
            font-weight: bold;
            font-size: 18px; /* 增大表头字体 */
            border: 1px solid #dddddd; /* 表头边框 */
        }

        /* 表格内容样式 */
        .table-hover tbody td {
            padding: 12px; /* 调整内边距 */
            border: 1px solid #dddddd; /* 单元格边框 */
            vertical-align: middle;
        }

        /* 悬停效果 */
        .table-hover tbody tr:hover {
            background-color: #f0e68c; /* 淡黃色背景 */
            color: #333333; /* 深色文字 */
        }
</style>
<h1>回覆總數:共<span id="total-articles"> @ViewData["TotalArticles"] </span>篇文章</h1>
<form id="searchForm" method="get">
    <div class="form-group">
        <input type="text"name="searchString" class="form-control" placeholder="搜尋文章標題" aria-label="搜尋文章標題" aria-describedby="searchButton" />
    </div>
    <div class="mt-2">
        <button class="btn btn-primary" type="submit" id="searchButton">搜尋</button>
        <button class="btn btn-primary" type="submit" id="resetButton">返回文章列表</button>
    </div>
</form>
<div id="articlesList">
    @await Html.PartialAsync("_ReplyPartial", Model)
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#searchForm').on('submit', function (e) {
            e.preventDefault(); // 阻止表单的默认提交行为

            var searchString = $('input[name="searchString"]').val();

            $.ajax({
                url: '@Url.Action("SearchPartial", "Replies", new { area = "Backstage" })',
                data: { searchString: searchString },
                success: function (result) {
                    $('#articlesList').html(result); // 更新文章列表部分
                },
                error: function () {
                    alert('搜尋時出錯，請稍後重試。');
                }
            });
        });
        $('#resetButton').on('click', function () {
            $('input[name="searchString"]').val(''); // 清空搜索框内容
            $('#searchForm').trigger('submit'); // 触发表单提交，重新加载数据
        });
    });
</script>

