@model EggProductionProject_MVC.Models.VideoSummary

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>VideoSummary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            
            <input type="hidden" asp-for="VideoSid" />
            <div class="form-group">
                <label asp-for="VideoDuration" class="control-label"></label>
                <input asp-for="VideoDuration" class="form-control" />
                <span asp-validation-for="VideoDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoTitle" class="control-label"></label>
                <input asp-for="VideoTitle" class="form-control" />
                <span asp-validation-for="VideoTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InformationColumn" class="control-label"></label>
                <input asp-for="InformationColumn" class="form-control" />
                <span asp-validation-for="InformationColumn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadDate" class="control-label"></label>
                <input asp-for="UploadDate" class="form-control" />
                <span asp-validation-for="UploadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimesWatched" class="control-label"></label>
                <input asp-for="TimesWatched" class="form-control" />
                <span asp-validation-for="TimesWatched" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatorSid" class="control-label"></label>
                <input asp-for="CreatorSid" class="form-control" />
                <span asp-validation-for="CreatorSid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScreenTextSid" class="control-label"></label>
                <select asp-for="ScreenTextSid" class="form-control" asp-items="ViewBag.ScreenTextSid"></select>
            </div>
            <div class="form-group">
                <label asp-for="MoviePath" class="control-label"></label>
                <partial name="_Videopartial" model="@Model"></partial>
                <input asp-for="MoviePath" type="file" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Advertised" class="control-label"></label>
                <input asp-for="Advertised" class="form-control" />
                <span asp-validation-for="Advertised" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoCoverImage" class="control-label"></label>
                <input asp-for="VideoCoverImage" type="file" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="PublicStatusNo" class="control-label"></label>
                <select asp-for="PublicStatusNo" class="form-control" asp-items="ViewBag.PublicStatusNo"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回首頁</a>
</div>

@section Scripts {
    <script>
        const Getimage = document.querySelector("#MoviePath")

    </script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
