@model EggProductionProject_MVC.Models.ShoppingRank

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ShoppingRank</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form  asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShoppingRankNo" />
            <div class="form-group">
                <label asp-for="ShoppingRank1" class="control-label">會員等級名稱</label>
                <input asp-for="ShoppingRank1" class="form-control" />
                <span asp-validation-for="ShoppingRank1" class="text-danger"></span>
            </div>
            <div class="form-group">
            @*     <label asp-for="Eggimage" class="control-label"></label> *@
                <partial name="_ShoppingRankPartial"  />
                <input type="file" asp-for="Eggimage" class="form-control" accept="image/*" />
                
            </div>
            <div class="form-group">
                <input id="btnUpdate" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	<script src="~/js/memberpicupload.min.js"></script>
    <script>
        $("#Eggimage").on("change", function () {

            previewImage(this, $("#Eggimage").prev(), $("#btnUpdate"));
        });
    </script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
