@model EggProductionProject_MVC.Models.CouponType
@{
    var antiForgeryToken = Html.AntiForgeryToken().ToString();
}

@section Styles {
    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />
    <style>

        .table-control-n {
            overflow-x: scroll;
            width: 100%;
            clear: left;
        }

        .dataTables_scrollBody::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        .dataTables_scrollBody::-webkit-scrollbar-track {
            border-radius: 3px;
            background: rgba(0,0,0,0.06);
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
        }
        /* 滚动条滑块 */
        .dataTables_scrollBody::-webkit-scrollbar-thumb {
            border-radius: 3px;
            background: rgba(0,0,0,0.12);
            -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
        }

        .dataTables_wrapper.no-footer .dataTables_scrollBody {
            border-bottom: none;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            --bs-table-accent-bg: #fff;
            color: var(--bs-table-striped-color);
        }

        .table-primary {
            --bs-table-bg: #446188;
            --bs-table-striped-bg: #c5d7f2;
            --bs-table-striped-color: #000;
            --bs-table-active-bg: #bacbe6;
            --bs-table-active-color: #000;
            --bs-table-hover-bg: #bfd1ec;
            --bs-table-hover-color: #000;
            color: #fff;
            border-color: #bacbe6;
        }

        .table-hover > tbody > tr:hover {
            --bs-table-accent-bg: var(--bs-table-hover-bg);
            color: var(--bs-table-hover-color);
        }

        .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
            vertical-align: middle;
            text-align: center;
        }

        .dataTables_wrapper .dataTables_filter{
            padding-bottom:20px;
        }

        table.dataTable thead .sorting{
            text-align:center;
        }

        .x_title h4 {
            font-size:22px;
            font-weight:600;
        }

        .big-title{
            font-size:18px;
            margin:20px 40px 0px 40px;
            width:auto;
        }

    </style>
}
<div id="formContainer"></div>
<div class="row" style="height:1400px">
    <h3 class="big-title">優惠券列表</h3>
    <div class="col-md-12 col-sm-12 ">
        <div class="dashboard_graph m-4 p-4">
            <div class="row x_title mb-4">
                <div class="col-md-6">
                    <h4>查詢</h4>
                </div>

            </div>

           

        </div>

    </div>
    <div class="col-md-12 col-sm-12  mt-3">
        <div class="dashboard_graph m-4 p-4">
            <div class="row x_title mb-4">
                <div class="col-md-6">
                    <h4>優惠券列表</h4>
                </div>
                
            </div>
            
                <table class="table table-striped table-hover">
                    <thead class="table-primary ">
                    </thead>
                    <tbody class="123">
                    </tbody>
                </table>
            
        </div>
        
</div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        @* <form id="editForm" asp-action="Edit" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Minimum" class="control-label"></label>
                                <input asp-for="Minimum" class="form-control" />
                                <span asp-validation-for="Minimum" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PublicStatusNo" class="control-label"></label>
                                <select asp-for="PublicStatusNo" class="form-control" asp-items="ViewBag.PublicStatusNo"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="StartTime" class="control-label"></label>
                                <input asp-for="StartTime" class="form-control" />
                                <span asp-validation-for="StartTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EndTime" class="control-label"></label>
                                <input asp-for="EndTime" class="form-control" />
                                <span asp-validation-for="EndTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UseAlone" class="control-label"></label>
                                <input asp-for="UseAlone" class="form-control" />
                                <span asp-validation-for="UseAlone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EmployeeSid" class="control-label"></label>
                                <input asp-for="EmployeeSid" class="form-control" />
                                <span asp-validation-for="EmployeeSid" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </form> *@
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="CouponTypeNo" />
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Minimum" class="control-label"></label>
                                <input asp-for="Minimum" class="form-control" />
                                <span asp-validation-for="Minimum" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PublicStatusNo" class="control-label"></label>
                                <select asp-for="PublicStatusNo" class="form-control" asp-items="ViewBag.PublicStatusNo"></select>
                                <span asp-validation-for="PublicStatusNo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="StartTime" class="control-label"></label>
                                <input asp-for="StartTime" class="form-control" />
                                <span asp-validation-for="StartTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EndTime" class="control-label"></label>
                                <input asp-for="EndTime" class="form-control" />
                                <span asp-validation-for="EndTime" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="UseAlone" class="control-label"></label>
                                <input asp-for="UseAlone" class="form-control" />
                                <span asp-validation-for="UseAlone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EmployeeSid" class="control-label"></label>
                                <input asp-for="EmployeeSid" class="form-control" />
                                <span asp-validation-for="EmployeeSid" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="//cdn.datatables.net/fixedheader/3.3.1/js/dataTables.fixedHeader.min.js"></script>

    <script>

     

        $(document).ready(function () {
            $("table").dataTable({
                scrollX: "auto",
                autoWidth: false,
                ajax: {
                    type: "GET",
                    url: "/Backstage/CouponTypes/IndexJson",
                    dataSrc: function (json) {
                        return json;
                    },
                },
                columnDefs: [
                    {
                        targets: -1, 
                        render: function (data, type, row) {
                            return `
                                                       <button class="btn btn-edit" onclick="location.href='@Url.Action("Edit", new { id = 1 })'" ><i class="fa-solid fa-pen"></i> </button>
                                                                       <button type="button" asp-action="Edit" asp-route-id="1" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch 
        </button>
                <button type="button" onclick="loadEditForm(1)">Edit Coupon Type 1</button>
        `;
                        }
                    }
                ],
                columns: [
                    { "data": "couponTypeNo", "width": "auto", "title": "優惠券號碼", "visible": false },
                    { "data": "name", "width": "auto", "title": "優惠券名稱" },
                    { "data": "price", "width": "auto", "title": "優惠價格" },
                    { "data": "minimum", "width": "auto", "title": "最低消費" },
                    { "data": "publicStatusNo", "width": "auto", "title": "公開狀態號碼", "visible": false },
                    { "data": "statusDescription", "width": "auto", "title": "公開狀態" },
                    { "data": "startTime", "width": "auto", "title": "開始時間" },
                    { "data": "endTime", "width": "auto", "title": "結束時間" },
                    { "data": "useAlone", "width": "auto", "title": "獨立使用" },
                    { "data": "empName", "width": "auto", "title": "操作員工" },
                    { "data": "", "width": "auto", "title": "" },

                ],
                fixedHeader: { header: true },
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.1.2/i18n/zh-HANT.json',
                },
            })
        });

        $(function () {
            var token = $('input[name="__RequestVerificationToken"]').val();
            $.ajaxSetup({
                headers: {
                    'RequestVerificationToken': token
                }
            });
        });

        function loadEditForm(id) {
            $.ajax({
                url: '@Url.Action("Edit", "CouponTypes")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#formContainer').html(result);
                    // console.log("asd",asd)
                },
                error: function (xhr, status, error) {
                    console.error('Error loading form:', status, error);
                }
            });
        }

        // $(document).on('submit', '#editForm', function (event) {
        //     event.preventDefault(); // 阻止表单的默认提交行为
        //     // console.log('$(this)', $(this))
        //     // console.log('$(this).serialize()', $(this).serialize())

        //     $.ajax({
        //         url: '@Url.Action("Edit", "CouponTypes")',
        //         type: 'POST',
        //         data: { id: 1 },
        //         success: function (response) {
        //             if (response.success) {
        //                 alert('Form submitted successfully!');
        //                 // $('#formContainer').empty(); // 清空表单容器
        //             } else {
        //                 alert('Form submitted NOsuccessfully!');
        //                 // $('#formContainer').html(response);
        //             }
        //         },
        //         error: function (xhr, status, error) {
        //             // alert('Form submitted NAAOsuccessfully!');
        //             // console.log("ss", response)
        //             // console.log("sss", $(this))
        //             console.log("sss", $(this).data('accepts'));
        //             console.error('Error submitting form:', status, error);
        //         }
        //     });


        // });


        // $(document).ready(function () {
        //     $('#editForm').on('submit', function (event) {
        //         event.preventDefault(); // 阻止默认提交行为

        //         var formData = $(this).serialize(); // 获取表单数据
        //         var antiForgeryToken = $('input[name="__RequestVerificationToken"]').val(); // 获取 anti-forgery token

        //         $.ajax({
        //             url: '@Url.Action("Edit", "CouponTypes")', // 使用 URL Helper 获取 URL
        //             type: 'POST',
        //             headers: {
        //                 'RequestVerificationToken': antiForgeryToken // 设置 anti-forgery token 头部
        //             },
        //             data: formData, // 发送表单数据
        //             success: function (response) {
        //                 // 处理成功响应
        //                 console.log('Form submitted successfully!', response);
        //             },
        //             error: function (xhr, status, error) {
        //                 // 处理错误响应
        //                 console.error('Error submitting form:', status, error);
        //             }
        //         });
        //     });
        // });

        $(document).ready(function () {
            $('#editForm').on('submit', function (event) {
                event.preventDefault(); // 阻止默认提交行为

                var formData = $(this).serialize(); // 获取表单数据
                var antiForgeryToken = $('input[name="__RequestVerificationToken"]').val(); // 获取 anti-forgery token

                $.ajax({
                    url: $(this).attr('action'), // 获取表单的 action 属性作为 URL
                    type: 'POST',
                    headers: {
                        'RequestVerificationToken': antiForgeryToken // 添加 anti-forgery token 头部
                    },
                    data: formData, // 发送表单数据
                    dataType: 'json', // 期望 JSON 响应
                    success: function (response) {
                        if (response.success) {
                            // 处理成功情况
                            // 可选：重置表单
                            $('#editForm')[0].reset();

                            // 可选：显示成功消息
                            alert('Form submitted successfully!');
                        } else {
                            // 处理失败情况
                            alert(response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        // 处理错误响应
                        console.error('Error submitting form:', status, error);
                    }
                });
            });
        });
    </script>
}