@model EggProductionProject_MVC.Models.CouponType
@{
    var antiForgeryToken = Html.AntiForgeryToken().ToString();
}

@section Styles {
@*    <link href="~/lib/datatables/css/jquery.datatables.min.css" rel="stylesheet" />

    <link href="~/lib/datatables.net-jqui/datatables.jqueryui.min.css" rel="stylesheet" /> *@

    @* <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css"> *@

    <link href="~/lib/datatables.net-jqui/datatables.jqueryui.min.css" rel="stylesheet" />
    <!-- FixedHeader 样式 -->
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/5.0.1/css/fixedColumns.dataTables.css">
    <link href="~/backstagetemplate/build/css/stylesheet_n.css?version1.0" rel="stylesheet" />

    <style>

   
    </style>
}





<button type="button " data-id="0" class="btn btn-primary edit-button" >
    Launch
</button>

    <div class="row" style="">
    <h3 class="big-title">優惠券列表</h3>
    <div class="col-md-12 col-sm-12 ">
        <div class="dashboard_graph m-4 p-4">
            <div class="row x_title mb-4">
                <div class="col-md-6">
                    <h4>查詢</h4>
                </div>

            </div>

           

        </div>

    </div>
    <div class="col-md-12 col-sm-12  mt-3">
        <div class="dashboard_graph m-4 p-4">
            <div class="row x_title mb-4">
                <div class="col-md-6 p-0">
                    <h4>優惠券列表</h4>
                </div>
                
            </div>
            
                <table class="table table-striped table-hover">
                    <thead class="table-primary ">
                    </thead>
                    <tbody class="123">
                    </tbody>
                </table>
            
        </div>
        
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="editFormContainer"></div>

               
            </div>

        </div>
    </div>
</div>






@section Scripts {
    
    <script src="~/lib/datatables.net/datatables.min.js"></script>
    
    <script src="~/lib/datatables.net-fixedcolumns/datatables.fixedcolumns.min.js"></script>
    @* <script src="~/lib/datatables.net-fixedcolumns/fixedcolumns.min.js"></script> *@


    <script>


        $(document).ready(function () {
           $("table").dataTable({
                scrollX: "auto",
                // autoWidth: false,
                ajax: {
                    type: "GET",
                    url: "/Backstage/CouponTypes/IndexJson",
                    dataSrc: function (json) {
                        return json;
                    },
                },
                
                columnDefs: [
                    {
                        targets: -1, 
                        render: function (data, type, row) {
                            return `
                                            <button type="button " data-id="${row.couponTypeNo}" class="btn  edit-button " >
                                              <i class="fa-solid fa-pen" style="color: #8ba3d2;"></i>
                            </button>
                              `;
                        }
                    }
                ],
                lengthMenu: [[4, 12, 20, -1], [4, 12, 20, "All"]],
                // fixedColumns: {
                //     leftColumns: 1 //左邊要固定的欄位數，如果右側需要固定可以用rightColunms
                // },
                fixedColumns: {
                    start: 0,
                    end: 1
                },
                columns: [
                    { "data": "couponTypeNo", "width": "auto", "title": "優惠券號碼", "visible": false },
                    { "data": "name", "width": "auto", "title": "優惠券名稱" },
                    { "data": "price", "width": "auto", "title": "優惠價格" },
                    { "data": "minimum", "width": "auto", "title": "最低消費" },
                    { "data": "publicStatusNo", "width": "auto", "title": "公開狀態號碼", "visible": false },
                    { "data": "statusDescription", "width": "auto", "title": "公開狀態" },
                    { "data": "startTime", "width": "auto", "title": "開始時間" },
                    { "data": "endTime", "width": "auto", "title": "結束時間" },
                    {
                        "data": "useAlone", "width": "auto", "title": "獨立使用",
                        "render": function (data, type, row) {
                            return data == 1 ? "是" : "否";
                        }
                    },
                    { "data": "empName", "width": "auto", "title": "操作員工" },
                    { "data": "", "width": "auto", "title": "" },

                ],
                fixedHeader: { header: true },
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.1.2/i18n/zh-HANT.json',
                },
            })

            const sel_Type = null;

            $(document).on('click', '.edit-button', function () {
                var id = $(this).data('id'); // 从按钮的 data-id 属性获取 ID

                $.ajax({
                    url: '@Url.Action("Edit", "CouponTypes")/' + id, // 调用 Edit 方法获取表单
                    type: 'GET',
                    success: function (data) {
                        $('#editFormContainer').html(data); // 将返回的部分视图插入到指定的容器中

                        // 初始化和显示 modal
                        // var modal = new bootstrap.Modal(document.getElementById('exampleModal'));
                        // modal.show();
                   

                        // modal.addEventListener('change', function () {
                        //     selType = document.querySelector('#sel_Type');
                        //     console.log(selType); // 你可以根据需要处理 selType
                        // });


                        var modalElement = document.getElementById('exampleModal');
                        var modal = new bootstrap.Modal(modalElement);
                        

                        // 确保在 modal 完全显示后再执行 DOM 操作
                        // modalElement.addEventListener('shown.bs.modal', function () {
                            selType = document.querySelector('#sel_Type');
                            // 你可以根据需要处理 selType
                            loadSpots(selType);
                            
                            // selType = document.querySelector('#sel_Type');
                        // });
                        modal.show();

                        document.getElementById('saveChangesButton').addEventListener('click', function () {
                            // 这里可以添加保存数据的逻辑
                            // 成功后隐藏 modal
                            modal.hide();
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('AJAX请求失败: ', status, error);
                        // 可以在此显示一个错误消息
                    }
                });
            });

            // function showAlert(message) {
            //     alert(message);
            // }

            const loadSpots = (selType) => {
                const inp_StartTimes = document.querySelector('#StartTime')
                const inp_CouponTypeNo = document.querySelector('#CouponTypeNo')
                const inp_StartTime = document.querySelector('#StartTime').closest('.form-group');
                const inp_EndTime = document.querySelector('#EndTime').closest('.form-group');
                const selectElement = document.querySelector('#sel_Type');

                if (inp_StartTimes.value != "" && inp_CouponTypeNo != 0) {
                    inp_EndTime.classList.remove('d-none');
                    inp_StartTime.classList.remove('d-none');
                    selectElement.selectedIndex = 0;
                } else {
                    selectElement.selectedIndex = 1;
                    inp_EndTime.classList.add('d-none');
                    inp_StartTime.classList.add('d-none');
                }

                selType.addEventListener('change', (e) => {

                    console.log(e.target.value);
                    if (e.target.value == "noshow") {
                        inp_EndTime.classList.add('d-none');
                        inp_StartTime.classList.add('d-none');
                        selectElement.selectedIndex = 1;
                    } else {
                        inp_EndTime.classList.remove('d-none');
                        inp_StartTime.classList.remove('d-none');
                        selectElement.selectedIndex = 0;
                    }

                    
                });

            

            }

            // sel_Type.addEventListener('change', event => {
            //     // const selectedValue = event.target.value;
            //     // console.log("Selected value:", selectedValue);
            //     alert("asd");
            // });

            // loadSpots();

 
                // alert("asd");
                
            
            //alert("Hello from the Scripts section!");
            

            // const sel_Type = document.querySelector('#sel_Type')

            // sel_Type.addEventListener('change', event => {
            //     // const selectedValue = event.target.value;
            //     // console.log("Selected value:", selectedValue);
            //     alert("asd");

            // });

            $('#editFormContainer').on('submit', '#editForm', function (event) {
                event.preventDefault(); 

                var formData = $(this).serialize(); // 获取表单数据
                var antiForgeryToken = $('input[name="__RequestVerificationToken"]').val(); 

                $.ajax({
                    url: '@Url.Action("Edit", "CouponTypes")', 
                    type: 'POST',
                    headers: {
                        'RequestVerificationToken': antiForgeryToken 
                    },
                    data: formData,
                    dataType: 'json', 
                    success: function (response) {
                        if (response.success) {
                            $('#editFormContainer').html('');

                            var table = $("table").DataTable(); 
                            table.ajax.reload();
                         
                        } else {
                            alert(response.message); 
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', status, error); 
                    }
                });
            });
        });

        // $(document).ready(function () {
        //     $('#example').DataTable({
        //         scrollX: true
        //     });
        // });


    </script>
}