@model EggProductionProject_MVC.Models.Product

@{
    ViewData["Title"] = "Edit";
}

@section Styles {

    <style>
        .bold-text {
            font-weight: bold;
            font-size: 28px;
        }

        label {
            font-size: 20px;
        }

        .btn {
            margin-top: 10px; /* 为按钮添加额外的顶部间距 */
        }
    </style>

}

<h4 class="bold-text">編輯商品公開狀態</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductSid" />
            <div class="form-group">
                <label asp-for="ProductNo" class="control-label">商品編號</label>
                <input asp-for="ProductNo" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label">商品名稱</label>
                <input asp-for="ProductName" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="SubcategoryNo" class="control-label">產品分類</label>
                <select asp-for="SubcategoryNo" class="form-control" asp-items="ViewBag.SubcategoryNo" style="background-color: #e9ecef;"></select>
            </div>
            <div class="form-group">
                <label asp-for="StoreSid" class="control-label">賣家名稱</label>
                <select asp-for="StoreSid" class="form-control" asp-items="ViewBag.StoreSid" style="background-color: #e9ecef;"></select>
            </div>
            <div class="form-group">
                <label asp-for="PublicStatusNo" class="control-label">公開狀態</label>
                <select asp-for="PublicStatusNo" class="form-control" asp-items="ViewBag.PublicStatusNo"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-sm">
                    <i class="fa-solid fa-save"></i> 儲存
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Index")'">
        <i class="fa-solid fa-arrow-left"></i> 回商品清單
    </button>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
