<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author"
          content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
    <meta name="generator" content="Hugo 0.88.1" />
    <title>@ViewData["Title"] - EggProductionProject_MVC</title>

    @* <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" /> *@
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/choices.js/choices.min.css" rel="stylesheet" />
    <link href="~/frontstagetemplate/assets/dist/css/style.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)

</head>
<body>
   
    <header>
        <div class="container_title p-0 m-0">
            <div class="nav-main d-flex flex-wrap">
                <div class="d-flex flex-column align-items-center">
                    <a href="#"
                       class="d-flex align-items-center mb-2 text-dark text-decoration-none">
                        <img src="~/FrontstageTemplate/assets/brand/layout/egg-logo.svg"
                             class="bi me-2"
                             width="160"
                             alt="Bootstrap" />
                    </a>
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center d-none d-lg-flex">
                        <li><a href="#" class="nav-link px-3 link-light">蛋雞分析</a></li>
                        <li><a href="#" class="nav-link px-3 link-light">知識討論</a></li>
                        <li><a href="#" class="nav-link px-3 link-light">影片生活</a></li>
                        <li><a href="#" class="nav-link px-3 link-light">商城購物</a></li>
                    </ul>
                </div>

                <div class="nav-right">
                    <a href="#"
                       class="d-block link-dark text-decoration-none"
                       aria-expanded="false">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>

                    <a href="#"
                       class="d-block link-dark text-decoration-none"
                       aria-expanded="false">
                        <img src="https://github.com/mdo.png"
                             alt="mdo"
                             width="28"
                             height="28"
                             class="rounded-circle" />
                    </a>
                    <button class="navbar-toggler link-dark text-decoration-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                    <img src="~/FrontstageTemplate/assets/brand/layout/egg-logo.svg" alt="">

                </h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="fa-solid fa-house me-2"></i> 首頁
                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <span>網站服務</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="fa-solid fa-chart-line me-2"></i>
                            每日蛋雞分析
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="fa-solid fa-feather-pointed me-2"></i>
                            知識討論
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="fa-solid fa-clapperboard me-2"></i>
                            影片生活
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="fa-solid fa-shop me-2"></i>
                            商城購物
                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <span>網站服務</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="fa-solid fa-user-large me-2"></i>
                            會員中心
                        </a>
                    </li>
                </ul>
            </div>

            <div class="offcanvas-footer">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <div class="logoin-user">
                            <div class="border-img">
                                <img src="~/FrontstageTemplate/assets/brand/common/seven-logo.png">
                            </div>
                            Alice
                        </div>
                    </li>
                </ul>
                <button type="button" class="btn ">
                    <i class="fa-solid fa-arrow-right-from-bracket me-2"></i>
                    登出
                </button>





            </div>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/choices.js/choices.min.js"></script>
    <script src="~/FrontstageTemplate/assets/dist/js/self_n.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
