@using EggProductionProject_MVC.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject EggPlatformContext _context
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    int? employeeSid = HttpContextAccessor.HttpContext.Session.GetInt32("EmployeeSid");
    string userName = "Guest";

    if (employeeSid.HasValue)
    {
        var user = _context.Members.FirstOrDefault(u => u.MemberSid == employeeSid.Value);
        if (user != null)
        {
            userName = user.Name;
        }
    }
}



<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/favicon.ico" type="image/ico" />
    <title>@ViewData["Title"] - EggProductionProject_MVC</title>
    <!--link for css, bootstrap, font-awesome, etc-->








    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link href="~/BackstageTemplate/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Local Font Awesome -->
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/BackstageTemplate/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/BackstageTemplate/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="~/BackstageTemplate/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/BackstageTemplate/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/BackstageTemplate/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/BackstageTemplate/build/css/custom.min.css" rel="stylesheet">
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EggProductionProject_MVC.styles.css" asp-append-version="true" />     *@
    <style>

    </style>

    @await RenderSectionAsync("Styles", required: false)


</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa-solid fa-egg" style="color: #FFD43B;"></i> <span>GoodEgg</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            @* <img src="~/BackstageTemplate/production/images/img.jpg" alt="..." class="img-circle profile_img"> *@
                        </div>
                        <div class="profile_info">

                            <p>歡迎, @userName!</p>
                            @* <p>歡迎, @User.Identity?.Name!</p> *@
                            
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> 會員管理 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="shoppingranks" asp-action="index">會員購物等級</a></li>
                                        <li><a asp-controller="Members" asp-action="index">會員管理</a></li>
                        
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-edit"></i> 生產分析 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Data" asp-action="Index">PowerBI後台</a></li>
                                        <li><a asp-controller="Data" asp-action="Excel_Export">資料匯出</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-desktop"></i> 文章管理 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Articles" asp-action="Index">發文管理</a></li>
                                        <li><a asp-controller="Replies" asp-action="Index">回覆管理</a></li>
                                        <li><a asp-controller="Edits" asp-action="Index">編輯紀錄</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> 影片管理 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">                                       
                                        <li><a asp-area="Backstage" asp-controller="VideoSummaries" asp-action="Index">影片總覽</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> 商城管理 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-area="Backstage" asp-controller="ProductItems" asp-action="Index">商品分類管理</a></li>
                                        <li><a asp-area="Backstage" asp-controller="Products" asp-action="Index">商品管理</a></li>
                                        <li><a asp-area="Backstage" asp-controller="Stores" asp-action="Index">賣場管理</a></li>                               
                                        <li><a asp-area="Backstage" asp-controller="SalesBatches" asp-action="Index">特賣活動管理</a></li>                                        
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-clone"></i> 購物車 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            <a  asp-area="Backstage" asp-controller="Orders" asp-action="Index">訂單管理</a>
                                        </li>
                                        <li>
                                            <a asp-area="Backstage" asp-controller="Tracks" asp-action="Index">物流管理</a>
                                        </li>
                                        <li>
                                            <a asp-area="Backstage" asp-controller="CouponTypes" asp-action="Index">優惠券管理</a>
                                        </li>
                                        <li>
                                            <a asp-area="Backstage" asp-controller="Coin" asp-action="Index">代幣異動管理</a>
                                        </li>
                                        
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="menu_section">
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/BackstageTemplate/production/images/img.jpg" alt="">John Doe
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;"> Profile</a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">Help</a>
                                    <a class="dropdown-item" href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="text-center">
                                            <a class="dropdown-item">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" style="min-height: 852.741px;">
                <br>
                @RenderBody()
            </div>

            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    © 2024 GoodEgg. 版權所有
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    </div>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- jQuery -->
    <script src="~/BackstageTemplate/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/BackstageTemplate/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/BackstageTemplate/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/BackstageTemplate/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/BackstageTemplate/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/BackstageTemplate/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/BackstageTemplate/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/BackstageTemplate/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/BackstageTemplate/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/BackstageTemplate/vendors/Flot/jquery.flot.js"></script>
    <script src="~/BackstageTemplate/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/BackstageTemplate/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/BackstageTemplate/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/BackstageTemplate/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/BackstageTemplate/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/BackstageTemplate/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/BackstageTemplate/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/BackstageTemplate/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/BackstageTemplate/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/BackstageTemplate/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/BackstageTemplate/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/BackstageTemplate/vendors/moment/min/moment.min.js"></script>
    <script src="~/BackstageTemplate/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>


@*     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@





    <!-- Custom Theme Scripts -->
    <script src="~/BackstageTemplate/build/js/custom.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
