@{
    ViewData["Title"] = "Home Page";
}

@model List<List<string>>
@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@

<div class="title-bg mb-3">
    <img class="w-100"
         src="~/FrontstageTemplate/assets/brand/layout/banners/banner_01.png"
         alt="" />
</div>

<h1>養雞協會雞蛋產地交易行情</h1>


<table border="1">
    <thead>
        <tr>
            @foreach (var header in Model.First())
            {
                <th>@header</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Skip(1))
        {
            <tr>
                @foreach (var cell in row)
                {
                    <td>@cell</td>
                }
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        // // 從 URL 中獲取 JWT token 並存入 localStorage
        // const urlParams = new URLSearchParams(window.location.search);
        // const token = urlParams.get('token');

        // if (token) {
        //     localStorage.setItem('jwtToken', token);
        //     console.log('JWT token stored in localStorage:', token);
        // }
    </script>

}
