@{
    ViewData["Title"] = "Home Page";
}

@model List<List<string>>


@* <div class="title-bg mb-3">
    <img class="w-100"
         src="~/FrontstageTemplate/assets/brand/layout/banners/banner_01.png"
         alt="" />
</div>

<h1>養雞協會雞蛋產地交易行情</h1>


<table border="1">
    <thead>
        <tr>
            @foreach (var header in Model.First())
            {
                <th>@header</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Skip(1))
        {
            <tr>
                @foreach (var cell in row)
                {
                    <td>@cell</td>
                }
            </tr>
        }
    </tbody>
</table> *@





	<div class="outer-top">
		<div class="home-main-outer">
			<button id="boop" class="boop-button">CLICK!</button>
			<canvas class="boops"></canvas>
		</div>

		<div class="content content-index-n ">
			<hr class="m-0">

			<div class="dec-down"></div>
			<div class="dec-up"></div>
		</div>
	</div>


	<div class="page-2 d-flex justify-content-center align-items-center flex-column mx-2">
		<div class="img-outer">
		<img src="~/assets/brand/page/index/car.svg" />
		</div>
		<div class="price-outer">
			<p>近期蛋價</p>
			<table border="1" class="price-table">
				<thead>
					<tr>

						<th>北部</th>
						<th>彰化</th>
						<th>南投</th>
						<th>嘉南</th>
						<th>高屏</th>
					</tr>
				</thead>
				<tbody>
					<tr>

						<td>38</td>
						<td>38</td>
						<td>38</td>
						<td>38</td>
						<td>38</td>
					</tr>
				</tbody>
			</table>
		</div>


	</div>

	<div class="part-3">
		<div class="header-n">
			<div class="text">
				<span>
					MORE GOOD EGG MORE GOOD EGG MORE GOOD EGG MORE GOOD EGG MORE GOOD EGG MORE GOOD EGG MORE GOOD EGG MORE GOOD EGG MORE GOOD EGG MORE GOOD EGG MORE GOOD EGG MORE GOOD EGG
				</span>
			</div>
		<img class="arrow-img d-none d-lg-block"  src="~/assets/brand/page/index/arrow_1.svg" />
		</div>
		<div class="content content-n">
			<aside aria-hidden="true" class="d-none d-lg-flex">
				<h2 class="fluid">
					<span>我們提供</span>
					<span class="track">
						<span class="runner">
							<span>蛋雞分析</span>
							<span>知識討論</span>
							<span>影片生活</span>
							<span>商城購物</span>
						</span>
					</span>
			</aside>
			<div class="fluid main-n ">
				<section>
					<h2 class="sr-only">我們提供 蛋雞分析</h2>
					<p class="mb-5 mb-lg-2">
						<span class="section-title-n">每日1分鐘，智慧養殖</span>
						我們提供專業的日誌系統，讓雞農能夠隨時隨地記錄每天的養殖情況，並通過歷史數據的比對，快速發現異常，及時採取行動。這樣不僅能提升養殖效率，也能保障雞隻的健康，確保穩定的蛋品供應
						<a href="" class="btn dark-btn-n">立即前往</a>
					</p>
				</section>
				<section>
					<h2 class="sr-only">我們提供 知識討論</h2>
					<p class="mb-5 mb-lg-2">
						<span class="section-title-n">互相交流&學習的知識園地</span>
						討論區是一個開放的平台，讓雞農、消費者與愛好者可以一起分享養雞經驗、食安知識以及雞蛋相關話題。在這裡，您可以找到來自不同背景的使用者的實用建議，也可以參與討論，共同成長
						<a href="" class="btn dark-btn-n">立即前往</a>
					</p>
				</section>
				<section>
					<h2 class="sr-only">我們提供 影片生活</h2>
					<p class="mb-5 mb-lg-2">
						<span class="section-title-n">分享 & 影音天地</span>
						從養殖技術到雞蛋料理，讓養雞不僅是一個工作，還能變成一種生活的藝術。無論您是專業雞農、愛好者，還是關注食安與健康的消費者，都能在這裡找到啟發與靈感
						<a href="" class="btn dark-btn-n">立即前往</a>
					</p>
				</section>
				<section>
					<h2 class="sr-only">我們提供 商城購物</h2>
					<p class="mb-5 mb-lg-2">
						<span class="section-title-n">官方認證賣家，品質有保證</span>
						本站的所有賣家皆為經官方認證的在地雞農，致力於提供最優質的雞蛋和相關加工產品。無論是每日新鮮直送的雞蛋，還是各類精心製作的蛋品，您都可以安心購買，享受來自台灣在地農場的天然好品質
						<a href="" class="btn dark-btn-n">立即前往</a>
					</p>
				</section>






			</div>
		</div>


	</div>
	<div class="part-4">
		<img src="~/assets/brand/page/index/mountain.svg" />
		<div class="d-flex justify-content-center align-items-center my-5">

			<a href="javascript: void(0)" class="btn">
				加入我們
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</a>
        <img src="~/assets/brand/page/index/chick.svg" class="chick" />
		</div>

	</div>




