@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@

<div class="title-bg mb-3">
    <img class="w-100"
         src="~/FrontstageTemplate/assets/brand/layout/banners/banner_01.png"
         alt="" />
</div>