@{
    Layout = "_FrontLayout_common";
}
<div class="title-bg mb-3">
    <img class="w-100"
         src="~/FrontstageTemplate/assets/brand/layout/banners/banner_01.png"
         alt="" />
</div>

<section class="py-3 py-lg-5 text-center container">
    <div class="step-nav">
        <div class="step step-one finished">
            <div class="radial-progress active" data-index="0">
                <div class="step-text">
                    <p>step1</p>
                    <p>購物車</p>
                </div>
            </div>
            <p class="step-num">1</p>
        </div>
        <div class="step">
            <div class="line">
                <div class="progress"></div>
            </div>
            <div class="radial-progress" data-index="1">

                <div class="step-text">
                    <p>step2</p>
                    <p>資料填寫</p>
                </div>
            </div>
            <p class="step-num">2</p>
        </div>
        <div class="step ">
            <div class="line">
                <div class="progress"></div>
            </div>
            <div class="radial-progress" data-index="2">

                <div class="step-text">
                    <p>step3</p>
                    <p>確認完成</p>
                </div>
            </div>
            <p class="step-num">3</p>
        </div>
    </div>
</section>

<div class="album py-5 container-outer-n">
    <div class="container">

        <div class="row g-lg-5">


            <div class="col-lg-4 order-lg-last">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-0 mb-3 side-control">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="cal-box-title">折扣優惠試算</span>
                            <!-- <span class="badge text-muted">已勾選4件商品</span> -->
                        </h4>
                        <div class="card cal-box">
                            <div class="card-body">
                                <div>
                                    <div class="o_price_total cal-box-list">
                                        <p class="my-0">小計</p>
                                        <span class="">$3,600</span>
                                    </div>
                                    <hr>
                                    <div class="discount_total cal-box-list mb-3">
                                        <p class="my-0">商品折扣</p>
                                        <span class="">- $1,200</span>
                                    </div>
                                    <div class="discount_total cal-box-list">
                                        <div class="d-flex justify-content-start align-items-center">
                                            <p class="my-0 me-3">組合優惠</p>
                                            <img src="~/FrontstageTemplate/assets/brand/common/octicon_info-16.svg" alt="" srcset="">
                                        </div>

                                        <span class="">無</span>
                                    </div>
                                    <hr>
                                    <div class="price_total cal-box-list">
                                        <h4 class="my-0">總計</h4>
                                        <span class="">NT$2,400</span>
                                    </div>
                                    <p class="hint">*總付款金額請以結帳頁面為主</p>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn submit-btn dark-btn-n w-100">

                            <span class="mx-2">立即購買</span>
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>

                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <h4 class="cart-list mb-3">購物車清單</h4>
                <div class="row" id="div1">
                @*     <div class="col col-sm-12 my-4">
                        <div class="card shadow-sm cart-card">
                            <div class="cart-card-owner">
                                <div class="ck-farm d-flex align-items-center">
                                    <div class="img-outer">
                                        <img src="~/FrontstageTemplate/assets/brand/layout/mug.png" alt="" />
                                    </div>
                                    <p class="ck-farm-name p-0 m-0">葛瑞絲牧場</p>
                                </div>
                                <button class="btn p-0 me-md-3" type="button">
                                    <p class="all-tool p-0 m-0 ">全選</p>
                                </button>

                            </div>
                            <hr />
                            <div class="cart-card-item w-100">
                                <input type="checkbox" class="hidden-box" id="s1_p202409010002" checked />
                                <label for="s1_p202409010002" class="check--label">
                                    <span class="check--label-box"></span>
                                </label>

                                <div class="card-body-img d-flex w-100">
                                    <div class="img_box">
                                        <img src="~/FrontstageTemplate/assets/brand/page/cart/profuct_1.png" />
                                    </div>

                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-start">
                                            <div class="d-flex flex-column justify-content-between align-items-start me-3">
                                                <h5>日成放牧蛋</h5>
                                                <small class="describe">雞蛋</small>
                                            </div>
                                            <button class="btn delete_btn" type="button">
                                                <i class="fa-solid fa-xmark"></i>
                                            </button>
                                        </div>

                                        <div class="bottom_item flex-md-row align-items-md-center">
                                            <div class="d-flex flex-column justify-content-between align-items-start me-3">
                                                <big class="price">NT$ 1,200</big>
                                                <small class="o_price">NT$ 1,800</small>
                                            </div>
                                            <div class="input-group num_box_n">
                                                <button class="btn" type="button">
                                                    <i class="fa-solid fa-minus"></i>
                                                </button>

                                                <input type="text" class="form-control" placeholder="" value="1"
                                                       aria-label="Example text with two button addons" />
                                                <button class="btn" type="button">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="cart-card-item w-100">
                                <input type="checkbox" class="hidden-box" id="s1_p202409010003" checked />
                                <label for="s1_p202409010003" class="check--label">
                                    <span class="check--label-box"></span>
                                </label>

                                <div class="card-body-img d-flex w-100">
                                    <div class="img_box">
                                        <img src="~/FrontstageTemplate/assets/brand/page/cart/profuct_1.png" />
                                    </div>

                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-start">
                                            <div class="d-flex flex-column justify-content-between align-items-start me-3">
                                                <h5>勤美鮮雞蛋</h5>
                                                <small class="describe">雞蛋</small>
                                            </div>
                                            <button class="btn delete_btn" type="button">
                                                <i class="fa-solid fa-xmark"></i>
                                            </button>
                                        </div>

                                        <div class="bottom_item flex-md-row align-items-md-center">
                                            <div class="d-flex flex-column justify-content-between align-items-start me-3">
                                                <big class="price">NT$ 1,200</big>
                                                <small class="o_price">NT$ 1,800</small>
                                            </div>

                                            <div class="input-group num_box_n">
                                                <button class="btn" type="button">
                                                    <i class="fa-solid fa-chevron-left"></i>
                                                </button>
                                                <input type="text" class="form-control" placeholder="" value="1"
                                                       aria-label="Example text with two button addons" />
                                                <button class="btn" type="button">
                                                    <i class="fa-solid fa-chevron-right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  
 *@


                </div>

            </div>
        </div>
    </div>
</div>

@* <div id="divSpots" class="container">
    <!-- The dynamically generated content will be inserted here -->
</div> *@


<!-- Modal -->
@section Scripts {



    <script>


        $(document).ready(function () {

            const searchData = {
                "Msid": 1
            }

            // const divSpots = document.querySelector('#div1')

            const loadSpots = async () => {
                const api = '@Url.Content("~/Frontstage/CartsAPI/CartsList")'
                const response = await fetch(api, {
                    method: 'POST',
                    body: JSON.stringify(searchData),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })

                const data = await response.json()
                console.log(data)

                const generateProductsHtml = (products) => {
                    return products.map(product => `
                                <div class="cart-card-item w-100">
                                                    <input type="checkbox" class="hidden-box" id="s${product.cartSid}_p${product.productSid}"  />
                                                    <label for="s${product.cartSid}_p${product.productSid}" class="check--label">
                                        <span class="check--label-box"></span>
                                    </label>
                                    <div class="card-body-img d-flex w-100">
                                        <div class="img_box">
                                            <img src="${product.img || '../FrontstageTemplate/assets/brand/page/cart/profuct_1.png'}" />
                                        </div>
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-start">
                                                <div class="d-flex flex-column justify-content-between align-items-start me-3">
                                                    <h5>${product.productName}</h5>
                                                    <small class="describe">${product.subcategoryName}</small>
                                                </div>
                                                <button class="btn delete_btn" type="button">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </button>
                                            </div>
                                            <div class="bottom_item flex-md-row align-items-md-center">
                                                <div class="d-flex flex-column justify-content-between align-items-start me-3">

                                                            <big class="price">NT$ ${product.price * (product.discountPercent || 1).toFixed(2)}</big>
                                                            <small class="o_price">NT$ ${product.price.toFixed(2)}</small>
                                                </div>
                                                <div class="input-group num_box_n">
                                                            <button class="btn decrease-qty" type="button">
                                                        <i class="fa-solid fa-minus"></i>
                                                    </button>
                                                            <input type="text" class="form-control qty" placeholder="" value="${product.qty}" aria-label="Example text with two button addons" />
                                                            <button class="btn increase-qty" type="button">
                                                        <i class="fa-solid fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    `).join(' <hr />');
                };

                const generateStoresHtml = (data) => {
                    return data.map(store => `
                                <div class="col col-sm-12 my-4">
                                            <div class="card shadow-sm cart-card pb-3">
                                        <div class="cart-card-owner">
                                            <div class="ck-farm d-flex align-items-center">
                                                <div class="img-outer">
                                                    <img src="${store.storeImg || '../FrontstageTemplate/assets/brand/layout/mug.png'}" alt="" />
                                                </div>
                                                <p class="ck-farm-name p-0 m-0">${store.company}</p>
                                            </div>
                                                            <button class="btn p-0 me-md-3 all_cart"   type="button">
                                                <p class="all-tool p-0 m-0 ">全選</p>
                                            </button>
                                        </div>
                                        <hr />
                                        ${generateProductsHtml(store.products)}
                                    </div>
                                </div>
                            `).join('');
                };


                const divSpots = document.getElementById('div1');
                divSpots.innerHTML = generateStoresHtml(data);

                


           

           


                const buttons = document.querySelectorAll('.all_cart');

                buttons.forEach(button => {
                    button.addEventListener('click', () => {
      
                        const cartCard = button.closest('.cart-card');
                        if (cartCard) {
        
                            const checkboxes = cartCard.querySelectorAll('.hidden-box');

      
                            checkboxes.forEach(checkbox => {
                                checkbox.checked = !checkbox.checked;

                            });
                        } else {
                            console.log("Cart card not found");
                        }
                    });
                });


                const checkboxes = document.querySelectorAll('.hidden-box');
                let totalOriginalPrice = 0;
                   let totalDiscountedPrice = 0;

                checkboxes.forEach(checkbox => {
                    checkbox.addEventListener('click', () => {

                        console.log("Cart card found");
                        let totalOriginalPrice = 0;
                        let totalDiscountedPrice = 0;
                        if (checkbox.checked) {

                            const productCard = checkbox.closest('.cart-card-item');
                            if (productCard) {
                                const priceElement = productCard.querySelector('.price');
                                const oPriceElement = productCard.querySelector('.o_price');

 
                                const originalPrice = parseFloat(oPriceElement.textContent.replace('NT$ ', ''));
                                const discountedPrice = parseFloat(priceElement.textContent.replace('NT$ ', ''));

                 
                                totalOriginalPrice += originalPrice;
                                totalDiscountedPrice += discountedPrice;
                            }
                        }
                        console.log(`Total original price of selected items: NT$ ${totalOriginalPrice.toFixed(2)}`);
                        console.log(`Total discounted price of selected items: NT$ ${totalDiscountedPrice.toFixed(2)}`);

                    });
                });




            }


            loadSpots();

           

            

   

            // const data = [
            //     {
            //         "storeSid": 1,
            //         "company": "大帥哥牧場",
            //         "storeImg": null,
            //         "products": [
            //             {
            //                 "cartSid": 1,
            //                 "memberSid": 1,
            //                 "productSid": 5,
            //                 "qty": 2,
            //                 "productNo": "E202406070001",
            //                 "productName": "雞籠",
            //                 "img":null,
            //                 "price": 100.0000,
            //                 "stock": 50,
            //                 "discountPercent": null,
            //                 "subcategoryName": "籠飼蛋"
            //             },
            //             {
            //                 "cartSid": 2,
            //                 "memberSid": 1,
            //                 "productSid": 6,
            //                 "qty": 1,
            //                 "productNo": "P202406070002",
            //                 "productName": "超神奇蛋捲",
            //                 "img": null,
            //                 "price": 60.0000,
            //                 "stock": 20,
            //                 "discountPercent": 0.65,
            //                 "subcategoryName": "加工蛋品"
            //             }
            //         ]
            //     },
            //     {
            //         "storeSid": 11,
            //         "company": "傑克畜牧場",
            //         "storeImg": null,
            //         "products": [
            //             {
            //                 "cartSid": 4,
            //                 "memberSid": 1,
            //                 "productSid": 11,
            //                 "qty": 2,
            //                 "productNo": "P202406080002",
            //                 "productName": "先生蛋塔",
            //                 "img": null,
            //                 "price": 300.0000,
            //                 "stock": 100,
            //                 "discountPercent": 0.60,
            //                 "subcategoryName": "加工蛋品"
            //             }
            //         ]
            //     },
            //     {
            //         "storeSid": 13,
            //         "company": "贊克畜牧場",
            //         "storeImg": null,
            //         "products": [
            //             {
            //                 "cartSid": 5,
            //                 "memberSid": 1,
            //                 "productSid": 13,
            //                 "qty": 1,
            //                 "productNo": "E202406080004",
            //                 "productName": "富基靈芝機能雞蛋",
            //                 "img": null,
            //                 "price": 160.0000,
            //                 "stock": 200,
            //                 "discountPercent": 0.70,
            //                 "subcategoryName": "放牧蛋"
            //             }
            //         ]
            //     }
            // ]



            


        




            //Handle increase/decrease quantity

            // const nnn = $.ajax({
            //     url: '@Url.Content("~/Frontstage/CartsAPI/UpdateCartQuantity")',
            //     type: 'POST',
            //     contentType: 'application/json',
            //     data: JSON.stringify({
            //         cartSid: cartSid,
            //         productSid: productSid,
            //         qty: currentQty
            //     }),
            //     success: function (response) {
            //         console.log('Quantity updated successfully', response);
            //     },
            //     error: function (error) {
            //         console.error('Error updating quantity:', error);
            //     }
            // });
            function sendAjaxRequest(url, method, data, successCallback, errorCallback) {
                $.ajax({
                    url: url,
                    type: method,
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: successCallback,
                    error: errorCallback
                });
            }



            $(document).on('click', '.delete_btn', function () {
                const $cartCardItem = $(this).closest('.cart-card-item');
                const inputId = $cartCardItem.find('input').attr('id');
                const idPattern = /^s(\d+)_p(\d+)$/;
                const match = idPattern.exec(inputId);

                if (match) {
                    const cartSid = parseInt(match[1], 10);
                    const productSid = parseInt(match[2], 10);

                  
                    const currentQty = 0;

                  
                    sendAjaxRequest(
                        '@Url.Content("~/Frontstage/CartsAPI/UpdateCartQuantity")',
                        'POST',
                        { CartSid: cartSid, Qty: currentQty },
                        function (response) {
                            console.log('Quantity updated successfully', response);
                            loadSpots();
                        },
                        function (error) {
                            console.error('Error updating quantity:', error);
                        }
                    );
                } else {
                    console.error('Input ID format is incorrect:', inputId);
                }
            });

            $(document).on('click', '.increase-qty, .decrease-qty', function () {
                const $input = $(this).siblings('.qty');
                let currentQty = parseInt($input.val(), 10);
                const isIncrease = $(this).hasClass('increase-qty');
                if (isIncrease) {
                    currentQty++;
                } else if (currentQty > 1) {
                    currentQty--;
                    
                }
                $input.val(currentQty);


                const $cartCardItem = $(this).closest('.cart-card-item');

     
                const inputId = $cartCardItem.find('input').attr('id');

                console.log("Input ID:", inputId);


                const idPattern = /^s(\d+)_p(\d+)$/;
                const match = idPattern.exec(inputId);

                const cartSid = match[1];
                const productSid = match[2];

                sendAjaxRequest(
                    '@Url.Content("~/Frontstage/CartsAPI/UpdateCartQuantity")',
                    'POST',
                    { CartSid: cartSid, Qty: currentQty },
                    function (response) {
                        console.log('Quantity updated successfully', response);
                        loadSpots();
                    },
                    function (error) {
                        console.error('Error updating quantity:', error);
                    }
                );

                // console.log("productId:", productId);

                
            });





           
         


        });

        

       

    </script>
}

