 @model IEnumerable<EggProductionProject_MVC.Models.MemberVM.MemberVM>

@{
    ViewData["Title"] = "Index";
}



<h2>Index</h2>

<nav>
	<div class="row">
		<div class="col-3">
			<label for="selectIsBlocked">是否被禁用:</label>
			<select id="selectIsBlocked" class="form-control">
				<option value="">全部</option>
				<option value="1">已封鎖</option>
				<option value="0">未封鎖</option>
			</select>
		</div>
		<div class="col-3">
			<label for="selectIsChickFarm">是否為雞農:</label>
			<select id="selectIsChickFarm" class="form-control">
				<option value="">全部</option>
				<option value="1">雞農</option>
				<option value="0">一般用戶</option>
			</select>
		</div>
		<div class="col-3" >
			<input  type="search" placeholder="搜尋關鍵字" id="inputSearch" class="form-control" />
		</div>
	</div>


</nav>




<p>

    <div>會員數量 : <span id="memberCount">@(Model.Count()-1)</span></div>
</p>

<div id="memberList">
    @* 将会员列表渲染为一个局部视图，以便AJAX请求时更新这一部分 *@
    @Html.Partial("_MemberListPartial", Model)
</div>







@section Scripts {


    <script>


        //查詢會員的功能
        $(document).ready(function () {
            $('#inputSearch').on('keydown', function () {
                var keyword = $(this).val();

                $.ajax({
                    url: '@Url.Action("FilterMembers", "Members")',
                    type: 'GET',
                    data: { keyword: keyword },
                    success: function (result) {
                        $('#memberList').html(result); // 更新会员列表
                      
                    },
                    error: function () {
                        alert('发生错误，请稍后重试。');
                    }
                });
            });
        });



        //篩選雞農與禁用功能
        $(document).ready(function () {
            // 綁定篩選事件
            $('#selectIsBlocked, #selectIsChickFarm').change(function () {
                filterMembers();
            });

            function filterMembers() {
                var isBlocked = $('#selectIsBlocked').val();
                var isChickFarm = $('#selectIsChickFarm').val();

                $.ajax({
                    url: '@Url.Action("FilterMembers", "Members")',
                    type: 'GET',
                    data: {
                        isBlocked: isBlocked,
                        isChickFarm: isChickFarm
                    },
                    success: function (result) {
                        $('#memberList').html(result); // 更新會員列表
                        $('#memberCount').text($(result).find('tr').length); // 更新會員數量
                    },
                    error: function () {
                        alert('發生錯誤，請稍後重試。');
                    }
                });
            }
        });
    </script>
} 