 @model IEnumerable<EggProductionProject_MVC.Models.MemberVM.MemberVM>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <style>
        .table-hover tbody tr:hover {
            background-color: #f0e68c !important; /* 淡黄色背景 */
            color: #333333 !important; /* 深色文字 */
        }
    </style>
}



<h2>Index</h2>

<nav>
	<div class="row">
		<div class="col-3">
			<label for="selectIsBlocked">是否被禁用:</label>
			<select id="selectIsBlocked" class="form-control">
				<option value="">全部</option>
				<option value="1">已封鎖</option>
				<option value="0">未封鎖</option>
			</select>
		</div>
		<div class="col-3">
			<label for="selectIsChickFarm">是否為雞農:</label>
			<select id="selectIsChickFarm" class="form-control">
				<option value="">全部</option>
				<option value="1">雞農</option>
				<option value="0">一般用戶</option>
			</select>
		</div>
		<div class="col-3" >
			<input  type="search" placeholder="搜尋關鍵字" id="inputSearch" class="form-control" />
		</div>
	</div>


</nav>




<p>

    <div>會員數量 : <span id="memberCount">@(Model.Count()-1)</span></div>
</p>

<div id="memberList">
    @* 将会员列表渲染为一个局部视图，以便AJAX请求时更新这一部分 *@
    @Html.Partial("_MemberListPartial", Model)
</div>








@section Scripts {


    <script>


        //查詢會員的功能
        $(document).ready(function () {
            $('#inputSearch').on('keydown', function () {
                var keyword = $(this).val();

                $.ajax({
                    url: '@Url.Action("FilterMembers", "Members")',
                    type: 'GET',
                    data: { keyword: keyword },
                    success: function (result) {
                        $('#memberList').html(result); // 更新会员列表
                      
                    },
                    error: function () {
                        alert('發生錯誤，请稍後重試。');
                    }
                });
            });
        });



        //篩選雞農與禁用功能
        $(document).ready(function () {
            // 綁定篩選事件
            $('#selectIsBlocked, #selectIsChickFarm').change(function () {
                filterMembers();
            });

            function filterMembers() {
                var isBlocked = $('#selectIsBlocked').val();
                var isChickFarm = $('#selectIsChickFarm').val();

                $.ajax({
                    url: '@Url.Action("FilterMembers", "Members")',
                    type: 'GET',
                    data: {
                        isBlocked: isBlocked,
                        isChickFarm: isChickFarm
                    },
                    success: function (result) {
                        $('#memberList').html(result); // 更新會員列表
                        $('#memberCount').text($(result).find('tr').length); // 更新會員數量
                    },
                    error: function () {
                        alert('發生錯誤，請稍後重試。');
                    }
                });
            }
        });



        // $(document).ready(function () {
        //     // 在每个修改按钮上绑定点击事件
        //     $('.edit-member-btn').on('click', function () {
        //         var memberId = $(this).data('member-id');

        //         // 发起AJAX请求获取会员数据
        //         $.get('/Members/GetMemberDetails', { id: memberId }, function (data) {
        //             if (data) {
        //                 // 加载数据到Modal中
        //                 loadMemberData(data);

        //                 // 显示Modal
        //                 $('#editMemberModal').modal('show');
        //             } else {
        //                 alert('无法加载会员数据，请稍后重试。');
        //             }
        //         }).fail(function () {
        //             alert('请求失败，请检查网络连接。');
        //         });
        //     });
        // });

        $(document).ready(function () {
            // 绑定点击事件到所有带有class 'edit-member-btn' 的按钮
            $('.edit-member-btn').on('click', function () {
                const memberId = $(this).data('member-id'); // 获取会员ID
                console.log('Member ID:', memberId); // Debug 输出 memberId

                // 使用 fetch 发起 AJAX 请求获取会员详细信息
                fetch(`/Backstage/Members/GetMemberDetails?id=${memberId}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`请求失败，状态码：${response.status}`);
                        }
                        return response.json(); // 将响应解析为 JSON
                    })
                    .then(data => {
                        if (data) {
                            // 调用函数加载数据到 Modal 中
                            loadMemberData(data);
                                    #('table')
                            // 显示 Modal
                            $('#editMemberModal').modal('show');
                        } else {
                            console.log('Data is empty for Member ID:', memberId);
                            alert('无法加载会员数据，请稍后重试。');
                        }
                    })
                    .catch(err => {
                        console.log(err);
                        alert('请求失败，请检查网络连接。');
                    });
            });
        });

        // 用于加载会员数据到Modal中的函数
        function loadMemberData(data) {
            $('#memberName').val(data.Name);
            $('#memberEmail').val(data.Email);
            $('#memberPhone').val(data.Phone);
            $('#memberBirthDate').val(data.BirthDate);
            $('#memberIsChickFarm').val(data.IsChickFarm.toString());
            $('#memberIsBlocked').val(data.IsBlocked.toString());
        }

    </script>
} 