@using EggProductionProject_MVC.Data
@using Microsoft.AspNetCore.Identity
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
    

    @if(User.Identity.IsAuthenticated)
{
        <div class="offcanvas-footer">

            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <div class="logoin-user">
                        <div class="border-img">
                            @if (@HttpContextAccessor.HttpContext.Session.GetString("userProfilePic") != null)
                            {
                                <img src="@HttpContextAccessor.HttpContext.Session.GetString("userProfilePic")">
                            }
                            else
                            {
                                <img src="~/memberimg/nopicchick.jpg" />
                            }

                        </div>
                        
                        @if (HttpContextAccessor.HttpContext.Session.GetString("userName") != null)
                        {
                        <p  style="font-weight:500;font-size:larger; margin-top:auto;">歡迎, @HttpContextAccessor.HttpContext.Session.GetString("userName")</p>
                        }
                    </div>
                </li>
            </ul>
            
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">

                    <button type="submit" class="btn ">
                        <i class="fa-solid fa-arrow-right-from-bracket me-2"></i>

                        登出
                    </button>
                </form>
            

        </div>
}

else
{
        <div class="offcanvas-footer">

            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <div class="logoin-user">
                        <div class="border-img">
							<img src="~/memberimg/nopicchick.jpg" />

                        </div>
                <li class="nav-item">

                    
                </li>
                    </div>
                </li>
            </ul>
            <div>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">登入/註冊</a>
    </div>
        </div>




    
}

