@model EggProductionProject_MVC.Models.Store

@{
    ViewData["Title"] = "Edit";
}

@section Styles {

    <style>
        .bold-text {
            font-weight: bold;
            font-size: 28px;
        }

        label {
            font-size: 20px;
        }

        .btn {
            margin-top: 10px; /* 为按钮添加额外的顶部间距 */
        }
    </style>

}

<h4 class="bold-text">編輯賣場公開狀態</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StoreSid" />
            <div class="form-group">
                <label asp-for="MemberSid" class="control-label">會員編號</label>
                @* 將下拉式選單改成input標籤且唯獨不能改 *@
                <input asp-for="MemberSid" class="form-control" readonly /> 
                @* <select asp-for="MemberSid" class="form-control" asp-items="ViewBag.MemberSid" readonly></select> *@                
                @* <span asp-validation-for="MemberSid" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label">賣場名稱</label>
                <input asp-for="Company" class="form-control" readonly />
                @* <span asp-validation-for="Company" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="EstablishDate" class="control-label">賣場成立時間</label>
                <input asp-for="EstablishDate" class="form-control" readonly />
                @* <span asp-validation-for="EstablishDate" class="text-danger"></span> *@
            </div>
            @* <div class="form-group">
                <label asp-for="StoreImg" class="control-label"></label>
                <input asp-for="StoreImg" class="form-control" />
                <span asp-validation-for="StoreImg" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="StoreIntroduction" class="control-label">賣場介紹</label>
                <textarea asp-for="StoreIntroduction" class="form-control" rows="4" cols="50" readonly></textarea>
                @* <span asp-validation-for="StoreIntroduction" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="PublicStatusNo" class="control-label">公開狀態</label>
                <select asp-for="PublicStatusNo" class="form-control" asp-items="ViewBag.PublicStatusNo"></select>
                @* <span asp-validation-for="PublicStatusNo" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-sm">
                    <i class="fa-solid fa-save"></i> 儲存</button>
            </div>
        </form>
    </div>
</div>

<div>
    <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Index")'">
        <i class="fa-solid fa-arrow-left"></i> 回賣場清單
    </button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
